@import "@/index.scss";
@import "aos/dist/aos.css";

.roadmap-point {
    position: absolute;
    width: 260px;

    &__date {
        position: absolute;
        font-size: 50px;
        top: -100px;
        margin-bottom: 15px;
        color: $roadmapHighlightColor;
        transition: font-size 0.3s;
    }

    &__list {
        margin-top: 60px;
        list-style: none;
    }

    &__item {
        font-size: 18px;
        margin-bottom: 15px;

        &:before {
            content: "\2022";
            color: $roadmapHighlightColor;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
        }
    }
}

@media (max-width: $tabletBreakPoint) {

    .roadmap-point {

        &__date {
            top: -30px;
        }

        &__item {

            &:before {
                display: none;
            }
        }
    }
}

@media (max-width: $tabletBreakPoint) {

    .roadmap-point {

        &__item {

            &:before {
                display: inline-block;
            }
        }
    }
}

[data-aos="zoom-in-right-custom"] {
    @media (max-width: $tabletBreakPoint) {
        transform: translate3d(-100px, 0, 0) scale(0.6);
    }

    @media (max-width: $phoneBreakPoint) {
        transform: translate3d(100px, 0, 0) scale(0.6);
    }
}

[data-aos="zoom-in-left-custom"] {
    @media (max-width: $tabletBreakPoint) {
        transform: translate3d(100px, 0, 0) scale(0.6);
    }

    @media (max-width: $phoneBreakPoint) {
        transform: translate3d(100px, 0, 0) scale(0.6);
    }

    @media (max-width: $tabletBreakPoint) {
        transform: translate3d(100px, 0, 0) scale(0.6);
    }
}

[data-aos="fade-right-custom"] {
    transform: translate3d(-100px, 0, 0);

    @media (max-width: $tabletBreakPoint) {
        transform: translate3d(100px, 0, 0) scale(0.6);
    }
}
