@import "/src/index.scss";
@import "aos/dist/aos.css";

.roadmap-point {
    position: absolute;
    width: 260px;
    top: 15%;

    &__date {
        margin-bottom: 15px;
        color: $highlightColor;
        transition: font-size 0.3s;
    }

    &__title {
        font-size: 36px;
        margin-bottom: 15px;
        transition: font-size 0.3s;
    }

    &__list {
        transition: font-size 0.3s;
    }
}

@media (max-width: $tabletBreakPoint) {

    .roadmap-point {
        left: 90px;
    }
}

@media (max-width: $phoneBreakPoint) {

    .roadmap-point {
        max-width: 120px;
        top: 35%;

        &__title {
            font-size: 18px;
        }

        &__list {
            font-size: 12px;
        }

        &__date {
            font-size: 10px;
        }
    }
}

[data-aos="zoom-in-right-custom"] {
    transform: translate3d(-100px, 0, 0) scale(0.6);

    @media (max-width: $tabletBreakPoint) {
        transform: translate3d(100px, 0, 0) scale(0.6);
    }
}

[data-aos="fade-right-custom"] {
    transform: translate3d(-100px, 0, 0);

    @media (max-width: $tabletBreakPoint) {
        transform: translate3d(100px, 0, 0) scale(0.6);
    }
}
