@import "@/index.scss";
@import "aos/dist/aos.css";

.roadmap-point {
    position: relative;
    left: -20px;
    width: 400px;
    height: 500px;
    padding: 55px 40px;
    background: linear-gradient(180deg, #3b4eb0 0%, rgba(59, 78, 176, 0) 100%);

    &:before {
        content: url("@static/images/roadmap/ball.svg");
        position: absolute;
        top: 148px;
        left: 25px;
    }

    &:after {
        content: "";
        position: absolute;
        width: 82%;
        top: 158px;
        left: 80px;
        height: 5px;
        z-index: 5;
        background-color: $roadmapHighlightColor;
    }

    &:nth-child(3) {

        &:after {
            width: 100vw;
            background: linear-gradient(90deg, rgba(0, 255, 162, 0.891) 0%, rgba(0, 255, 163, 0) 135.85%);
        }
    }

    &__date {
        position: relative;
        font-size: 50px;
        top: 0;
        margin-bottom: 15px;
        font-family: "Russo One";
        transition: font-size 0.3s;
    }

    &__list {
        margin-top: 100px;
        list-style: none;
    }

    &__item {
        font-size: 18px;
        margin-bottom: 15px;

        &:before {
            content: "\2022";
            color: $roadmapHighlightColor;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
        }
    }
}

@media (max-width: $desktopBreakPoint) {

    .roadmap-point {
        height: 360px;
        width: 100%;

        &:after {
            display: none;
        }

        &:before {
            top: 70px;
        }

        &__date {
            top: 12px;
            left: 30px;
            font-size: 28px;
        }

        &__list {
            margin-top: 50px;
        }
    }
}

@media (max-width: $desktopBreakPoint) {

    .roadmap-point {
        padding: 55px 15px 55px 40px;

        &:after {
            display: none;
        }

        &:before {
            top: 70px;
        }

        &__date {
            top: 12px;
            left: 30px;
            font-size: 28px;
        }
    }
}

[data-aos="zoom-in-right-custom"] {
    @media (max-width: $tabletBreakPoint) {
        transform: translate3d(-100px, 0, 0) scale(0.6);
    }

    @media (max-width: $phoneBreakPoint) {
        transform: translate3d(100px, 0, 0) scale(0.6);
    }
}

[data-aos="zoom-in-left-custom"] {
    @media (max-width: $tabletBreakPoint) {
        transform: translate3d(100px, 0, 0) scale(0.6);
    }

    @media (max-width: $phoneBreakPoint) {
        transform: translate3d(100px, 0, 0) scale(0.6);
    }

    @media (max-width: $tabletBreakPoint) {
        transform: translate3d(100px, 0, 0) scale(0.6);
    }
}

[data-aos="fade-right-custom"] {
    transform: translate3d(-100px, 0, 0);

    @media (max-width: $tabletBreakPoint) {
        transform: translate3d(100px, 0, 0) scale(0.6);
    }
}
