@import "@/index.scss";

.description-about {
    max-width: 1280px;
    margin: 200px auto;
    padding: 10px 50px;
    display: flex;
    justify-content: center;
    position: relative;

    &__image-area {
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 500px;
    }

    &__stats-image {
        position: absolute;
        right: -220px;
        top: 400px;
        transition: all 0.3s;
    }

    &__text-area {
        margin-left: 100px;
    }

    &__text {
        margin-top: 40px;
    }

    &__title {
        color: $highlightColor;
        font-size: 36px;
    }
}

@media (max-width: $desktopBreakPoint) {

    .description-about {
        padding: 10px 30px;

        &__image-area {
            width: 50%;
        }

        &__stats-image {
            width: 50%;
            right: -20%;
            bottom: unset;
            top: 300px;
        }
    }
}

@media (max-width: $tabletBreakPoint) {

    .description-about {

        &__stats-image {
            width: 50%;
            right: -15%;
            bottom: unset;
            top: 200px;
        }

        &__text-area {
            margin-left: 50px;
        }
    }
}

@media (max-width: $phoneBreakPoint) {

    .description-about {
        flex-direction: column;
        align-items: center;

        &__image-area {
            width: 70%;
        }

        &__stats-image {
            width: 40%;
            right: -15%;
            top: unset;
            bottom: -40px;
        }

        &__text-area {
            margin-left: 0;
            margin-top: 40px;
        }

        &__mirrored {
            display: none;
        }

        &__title {
            position: absolute;
            top: -80px;
        }
    }
}
