@import "@/index.scss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.field-controls-area__clubs {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 auto 0 auto;

    &-name {
        margin-bottom: 24px;
        font-family: "BebasNeue", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 58px;
        display: flex;
        align-items: center;
        color: #fff;
    }

    .clubs {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 85%;
        margin: 0 auto;

        .slider {
            overflow: visible;

            .slick-prev {
                left: -30px;
                top: 14px;
            }

            .slick-next {
                left: 350px;
                top: 14px;
            }
        }

        div {
            width: 100%;
        }

        .club-active {
            svg {
                path {
                    fill: #58e271;
                }
            }

            span {
                color: #58e271;
            }
        }

        .club,
        .club-active {
            display: flex;
            align-items: center;
            position: relative;
            padding-right: 15px;
            margin-bottom: 40px;
            cursor: pointer;

            svg {
                width: 20px;
                height: 19px;
                margin-bottom: 4px;
            }

            &:hover {
                svg {
                    path {
                        fill: #58e271;
                    }
                }

                span {
                    color: #58e271;
                }
            }

            &__name {
                white-space: nowrap;
                padding-left: 4px;
                font-family: "BebasNeue", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 29px;
                color: #fff;
            }

            &__info {
                position: absolute;
                z-index: 2;
                top: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 109.5px;
                height: 34.5px;
                background: #33335a;
                border-radius: 5px;
                font-family: "Montserrat", sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 12px;
                color: #ffffff;

                &:before {
                    content: "";
                    height: 20px;
                    width: 20px;
                    position: absolute;
                    top: -7px;
                    left: 20px;
                    border-radius: 3px;
                    background-color: $highlightBackground;
                    transform: rotate(45deg);
                }
            }
        }
    }

    .clubs::-webkit-scrollbar-track {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #616197;
    }

    .clubs::-webkit-scrollbar {
        width: 7px;
        height: 5px;
        position: absolute;
        top: 150px;
        background-color: #36335c;
    }

    .clubs::-webkit-scrollbar-thumb {
        background-color: #58e271;
    }

    .composition {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 24px 0 16px 0;

        &__choosed-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 48px;
            padding: 17px 14px 14px 14px;
            background: #3a3a5b;
            border-radius: 5px;
            font-family: "BebasNeue", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            color: #ffffff;
            text-transform: uppercase;
            cursor: pointer;

            &::after {
                content: "";
                border-style: solid;
                border-width: 5px 5px 5px 0;
                border-color: transparent #fff transparent transparent;
                position: absolute;
                transform: rotate(-90deg);
                right: 17px;
            }
        }

        .active-dropdown {
            &::after {
                content: "";
                border-style: solid;
                border-width: 5px 5px 5px 0;
                border-color: transparent #fff transparent transparent;
                position: absolute;
                transform: rotate(90deg);
                right: 17px;
            }
        }

        &__list {
            display: none;

            &-item {
                width: 100%;
                border-bottom: 2px solid #444683;
                padding: 14px;

                &:first-child {
                    border-top: 2px solid #444683;
                }

                &:last-child {
                    border-bottom: unset;
                }

                span {
                    font-family: "BebasNeue", sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 29px;
                    color: #ffffff;
                    text-transform: uppercase;
                    cursor: pointer;
                }
            }

            &-item:hover {
                span {
                    color: #3ccf5d;
                }
            }
        }

        &__list-active {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: -5px;
            padding: 14px 0 0 0;
            background: #3a3a5b;
            border-radius: 5px;
        }
    }
}
