@import "@/index.scss";

.description-pay {
    padding: 150px 50px;
    display: flex;
    justify-content: space-between;
    position: relative;

    &__radar {
        width: 40%;
        margin-right: 100px;
    }

    &__text-area {
        margin-top: 70px;
        transition: all 0.3s linear;
    }

    &__text {
        font-family: "Roboto";
        font-weight: bold;
        font-size: 24px;
    }

    &__title {
        font-size: 43px;
        color: $roadmapHighlightColor;
        margin-bottom: 40px;
        font-family: "Hanson";
    }
}

@media (max-width: $desktopBreakPoint) {

    .description-pay {

        &__text-area {
            margin-top: 80px;
        }

        &__title {
            font-size: 26px;
        }

        &__text {
            font-size: 15px;
        }
    }
}

@media (max-width: $tabletBreakPoint - 100px) {

    .description-pay {
        padding: 100px 30px;
        flex-direction: column;

        &__radar {
            width: 80%;
            max-width: 400px;
            margin: 0 auto;
        }

        &__title {
            font-size: 36px;
            position: absolute;
            top: 20px;
        }

        &__text {
            font-size: 18px;
            text-align: justify;
        }
    }
}
