@import "@/index.scss";

.footballer-card-information {
    width: 85%;
    height: 300px;
    overflow: hidden;
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    column-gap: 5%;
    row-gap: 5%;
    margin: 5% auto 5% 5%;
    font-family: "Montserrat", sans-serif;

    &__item-title {
        font-size: 16px;
        text-transform: uppercase;
    }

    &__item-value {
        margin-top: 8px;
        font-size: 14px;
        margin-right: 5px;
        color: $textColor;
        text-transform: capitalize;
    }

    &__item-icon {
        margin-left: 5px;
    }
}

@media screen and (min-width: $desktopBreakPoint) {

    .footballer-card-information {
        column-gap: 5%;
        row-gap: 5%;
        margin: 3% auto 5% 5%;
    }
}

@media screen and (min-width: $tabletBreakPoint) {

    .footballer-card-information {
        margin: 5%;
    }
}

@media screen and (max-width: $phoneBreakPoint + 100px) {

    .footballer-card-information {
        width: 90%;
        height: 605px;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 3%;
    }
}

@media screen and (max-width: $phoneBreakPoint) {

    .footballer-card-information {
        width: 90%;
        height: 605px;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 3%;

        &__item-title {
            font-size: 20px;
            line-height: 24px;
        }

        &__item-value {
            margin-right: 5px;
            line-height: 17px;
        }
    }
}
