@import "/src/index.scss";

.launch-date-modal {
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#0b2774c7, #030024d8);
    text-align: center;
    backdrop-filter: blur(8px);

    &__window {
        padding-bottom: 5%;
        width: 40%;
        position: fixed;
        z-index: 3;
        margin: auto;
        text-align: center;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: url("@static/images/headingPage/play.png");
        background-position: center;
        background-size: cover;
        background-color: #000108;
        transition: width 0.3s;
        padding-left: 5%;
        border-radius: 5px;
    }

    &__description {
        font-family: "Russo One";
        margin-top: 5%;
        max-width: 80%;
        text-align: left;
        font-size: 56px;
        color: $highlightColor;
        transition: font-size 0.3s;
    }

    &__close {
        position: fixed;
        left: 70%;
        top: 5%;
        cursor: pointer;

        &__text {
            color: grey;
            font-size: 80px;
        }
    }

    &__notification {
        display: flex;
        flex-direction: column;
        position: relative;

        &__send,
        &__send-error {
            width: 70%;
            border: none;
            line-height: 40px;
            padding-left: 20px;
            margin-top: 7.5%;
            outline: none;
            cursor: pointer;

            &__error {
                width: 70%;
                color: red;
                font-size: 20px;
                text-align: right;
            }
        }

        &__send-error {
            border: 1px solid red;
        }

        &__confirm {
            font-family: "Hanson";
            z-index: 1;
            font-size: 18px;
            text-align: center;
            border: none;
            width: 30%;
            line-height: 40px;
            margin-top: 10%;
            color: white;
            background-color: $highlightColor;
            cursor: pointer;
        }
    }

    &__wrapper {
        width: 100%;
        margin-bottom: 20px;
    }

    @media (max-width: $desktopBreakPoint) {

        &__window {
            width: 60%;
        }

        &__close {
            left: 80%;
            top: 12.5%;
        }
    }

    @media (max-width: $tabletBreakPoint) {

        &__window {
            width: 60%;
            padding-bottom: 5%;
        }

        &__close {
            top: 10%;
        }

        &__notification {

            &__send,
            &__send-error {
                width: 75%;
                line-height: 32px;

                &__error {
                    width: 75%;
                    font-size: 16px;
                }
            }

            &__confirm {
                font-size: 16px;
                line-height: 30px;
                margin-top: 10%;
            }
        }

        &__description {
            font-size: 50px;
        }
    }

    @media (max-width: $phoneBreakPoint) {

        &__window {
            width: 70%;
        }

        &__close {
            top: 3%;
        }

        &__notification {

            &__send,
            &__send-error {
                width: 70%;
                padding-left: 5px;
                font-size: 12px;

                &__error {
                    width: 70%;
                    font-size: 12px;
                }
            }

            &__confirm {
                font-size: 14px;
            }
        }
    }

    @media (max-width: $phoneBreakPoint - 200px) {

        &__window {
            top: 40%;
            width: 80%;
            padding-bottom: 2%;
        }

        &__close {
            top: unset;
            bottom: 80%;
        }

        &__notification {

            &__send,
            &__send-error {
                width: 95%;

                &__error {
                    width: 95%;
                }
            }

            &__confirm {
                line-height: 32px;
                width: 95%;
            }
        }

        &__description {
            font-size: 46px;
            width: 70%;
        }
    }

    @media (max-width: $phoneBreakPoint - 280px) {

        &__window {
            top: 50%;
            width: 80%;
            padding-bottom: 2%;
        }
    }
}
