@import "@/index.scss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.box-keeping {
    animation: darken 1s 0 1 normal forwards;
    overflow: hidden;
    height: calc(100vh - 100px);

    @keyframes darken {

        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    &__wrapper {
        max-width: 1440px;
        padding: 0 30px;
        margin: 0 auto;
    }

    &__title {
        font-size: 48px;
    }

    &__card {
        width: 170px;
        transition: transform 0.3s;
        margin: 20px 0;

        &:hover {
            transform: scale(1.1);
        }

        &__wrapper {
            margin: 0 auto;
            width: 60%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-content: center;
            justify-items: center;
            align-items: flex-start;
        }
    }

    &__button {
        z-index: 2;
        cursor: pointer;
        border: none;
        transition: box-shadow 0.3s;
        padding: 15px 87px;
        background: #f5ff63;
        box-shadow: 0 12px 22px rgba(0, 23, 58, 0.22);
        border-radius: 10px;
        font-family: "Orbitron", sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #26373f;

        &__wrapper {
            margin: 30px 0 35px;
            display: flex;
            justify-content: center;
        }
    }

    &__box {
        width: 410px;

        &__wrapper {
            position: relative;
            width: 100%;
            max-width: 410px;
            display: flex;
            justify-content: center;
            margin: 0 auto;
        }
    }

    .slick-prev {
        margin-left: 5%;
        width: 60px;
        height: 60px;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            background: url("@static/img/StorePage/BoxContent/arrow-prev.svg");
            background-size: 100%;
            background-repeat: no-repeat;
            width: 60px;
            height: 60px;
        }
    }

    .slick-next {
        margin-right: 5%;
        width: 60px;
        height: 60px;

        &:before {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            background: url("@static/img/StorePage/BoxContent/arrow-next.svg");
            background-size: 100%;
            background-repeat: no-repeat;
            width: 60px;
            height: 60px;
        }
    }

    .slick-dots {
        display: none;
        opacity: 0;
    }
}

@media (max-width: $tabletBreakPoint) {

    .box-keeping {

        &__card-wrapper {
            row-gap: 20px;
            width: 100%;
            min-height: 700px;
            grid-template-columns: repeat(2, 1fr);
            justify-content: space-between;

            &__card {
                margin: 5% 0;
                transform: scale(0.7);
            }

            .slick-list {
                height: 620px;
            }
        }
    }
}

@media (max-width: $phoneBreakPoint) {

    .box-keeping {

        &__title {
            font-size: 32px;
            font-weight: normal;
        }

        &__button-wrapper {
            margin: 60px 0 30px;
        }

        &__card-wrapper {
            min-height: 520px;
            row-gap: 0;
        }

        &__card:nth-child(2n + 1) {
            margin-right: -12px;
        }

        &__card {
            margin: 0;
            transform: scale(0.7);

            &:hover {
                transform: scale(0.9);
            }
        }

        &__box-body {
            width: 90%;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }
}

@media (max-width: 330px) {

    .box-keeping {

        &__title {
            margin-left: 30px;
        }

        &__wrapper {
            padding: 0;
        }
    }
}
