@import "@/index.scss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.box-keeping {
    animation: darken 1s 0 1 normal forwards;

    @keyframes darken {

        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    background-image: url("@static/img/StorePage/BoxContent/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 90vh;

    &__wrapper {
        max-width: 1440px;
        padding: 0 30px;
        margin: 0 auto;
    }

    &__title {
        font-size: 48px;
    }

    &__card-wrapper {
        margin: 0 auto;
        width: 70%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        justify-items: center;
        align-items: flex-start;
    }

    &__card {
        width: 170px;
        transition: transform 0.3s;
        margin: 20px 0;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__button-wrapper {
        margin: 100px 0 40px;
        display: flex;
        justify-content: center;
    }

    &__button {
        padding: 10px 70px;
        z-index: 2;
        background: radial-gradient(
            254.55% 254.55% at 50% 50%,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.8) 100%
        ),
            linear-gradient(180deg, #5cff79 0%, #3ccf56 100%);
        border: none;
        cursor: pointer;
        transition: box-shadow 0.3s;

        &:hover {
            box-shadow: 0 0 10px $cardHighlightColor;
        }
    }

    &__box-wrapper {
        position: relative;
        width: 100%;
        max-width: 540px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    &__box-body {
        width: 540px;
    }

    &__box-light,
    &__ribbons {
        width: 100%;
        top: -40px;
        position: absolute;
        right: 0;
        left: 0;
        margin: 0 auto;
    }

    &__ribbons {
        width: 80%;
        top: -25%;
    }
}

@media (max-width: $tabletBreakPoint) {

    .box-keeping {

        &__card-wrapper {
            row-gap: 20px;
            width: 100%;
            min-height: 700px;
            grid-template-columns: repeat(2, 1fr);
            justify-content: space-between;

            &__card {
                margin: 5% 0;
                transform: scale(0.7);
            }

            .slick-list {
                height: 620px;
            }
        }
    }
}

@media (max-width: $phoneBreakPoint) {

    .box-keeping {

        &__title {
            font-size: 32px;
            font-weight: normal;
        }

        &__button-wrapper {
            margin: 60px 0 30px;
        }

        &__card-wrapper {
            min-height: 520px;
            row-gap: 0;
        }

        &__card:nth-child(2n+1) {
            margin-right: -12px;
        }

        &__card {
            margin: 0;
            transform: scale(0.7);

            &:hover {
                transform: scale(0.9);
            }
        }

        &__box-body {
            width: 90%;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }
}

@media (max-width: 330px) {

    .box-keeping {

        &__title {
            margin-left: 30px;
        }

        &__wrapper {
            padding: 0;
        }
    }
}
