@import '@/index.scss';

.box-keeping {
    animation: darken 1s 0 1 normal forwards;
    @keyframes darken {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    background-image: url('@static/img/StorePage/BoxContent/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    &__title {
        margin-left: 70px;
        font-size: 48px;
    }
    &__card-wrapper {
        display: flex;
        justify-content: center;
    }
    &__card {
        transition: transform 0.3s;
        &:hover {
            transform: scale(1.1);
        }
    }
    &__button-wrapper {
        margin-top: 100px;
        display: flex;
        justify-content: center;
    }
    &__button {
        padding: 10px 70px;
        z-index: 2;
        background: radial-gradient(254.55% 254.55% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%),
linear-gradient(180deg, #5CFF79 0%, #3CCF56 100%);
        border: none;
        cursor: pointer;
        transition: box-shadow 0.3s;
        &:hover {
            box-shadow: 0 0 10px $cardHighlightColor;
        }
    }
    &__box-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
    }
    &__box-light,
    &__ribbons {
        top: -60px;
        position: absolute;
    }
    &__ribbons {
        transform: scale(1.3);
    }
}