@import "@/index.scss";

.football-field {
    padding-top: 30px;

    &__title {
        font-family: "BebasNeue", sans-serif;
        font-size: 48px;
        line-height: 58px;
        padding: 5px;
        font-weight: lighter;
    }

    &__wrapper {
        padding: 0 143px 143px;
        overflow: hidden;
    }
}

@media screen and (max-width: $tabletBreakPoint) {

    .football-field {

        &__title {
            font-size: 44px;
            font-weight: lighter;
        }
    }
}
