@import "@/index.scss";

.box-animation {
    position: relative;
    padding-top: 280px;
    display: flex;
    justify-content: center;

    &__box-container {
        width: 100%;
        max-width: 540px;
        position: relative;
        left: 0;
        right: 0;
        margin: 0 auto;
        animation: boxHiding 5s 3s 1 normal forwards;

        @keyframes boxHiding {

            to {
                transform: translateY(400px);
            }
        }
    }

    &__box-cover,
    &__box-body,
    &__ribbons {
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    &__light {
        width: 100%;
        position: absolute;
        top: -45px;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 0;
        animation: light 3s 2.5s 1 normal forwards;

        @keyframes light {

            from {
                transform: scale(0.8);
                opacity: 0;
            }

            to {
                transform: scale(1);
                opacity: 1;
            }
        }
    }

    &__box-body {

        &__cool {
            left: -10%;
            width: 120%;
        }
    }

    &__ribbons {
        width: 100%;
        max-width: 350px;
        top: -50px;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 0;
        animation: light 3s 4s 1 normal forwards;
    }

    &__box-cover {
        animation: opening 3s 1s 1 normal forwards;
        transform: scale(1.05);

        @keyframes opening {

            0% {
                transform: scale(1.05) translate(0 0);
            }

            10% {
                transform: scale(1.05) translateY(-5%);
            }

            50% {
                transform: scale(1.05) translateX(50%);
            }

            100% {
                transform: scale(1.05) translateY(90%) translateX(60%);
            }
        }
    }

    &__card-container {
        max-width: 300px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 0;
        background: url("@static/img/StorePage/BoxContent/3.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transform: scale(0);
        animation: cardShowing 4s 3s 1 normal forwards ease-in-out;

        @keyframes cardShowing {

            0% {
                opacity: 0;
            }

            100% {
                transform: scale(1.7) translateY(-100px);
                opacity: 1;
            }
        }
    }
    &__card {
        width: 70%;
        margin: 0 auto;
    }

    &__card-container-backlight {
        display: flex;
        justify-content: center;
        background-image: url("@static/img/StorePage/BoxContent/backLight.svg");
        background-size: cover;
        background-position: center;
    }
}

@media (max-width: $phoneBreakPoint + 100px) {

    .box-animation {
        width: 100%;

        &__box-container {
            width: 80%;
            margin: 0 20px;

            @keyframes boxHiding {

                to {
                    transform: translateY(200px);
                }
            }
        }

        &__card-container {
            width: 60%;
        }

        &__ribbons {
            width: 70%;
            top: -50px;
        }

        &__light {
            left: -10%;
            width: 120%;
        }
    }
}

@media (max-width: $phoneBreakPoint - 200px) {

    .box-animation {

        &__box-container {
            @keyframes boxHiding {

                to {
                    transform: translateY(120px);
                }
            }
        }
    }
}
