<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create lot</title>
</head>
<body>
    <nav>
        <div>
            <ul>
                <li><a href="/admins">Admins</a></li>
                <li><a href="/users">Users</a></li>
                <li><a href="/cards">Cards</a></li>
                <li><a href="/marketplace/">Marketplace</a></li>
            </ul>
        </div>
    </nav>
    <form action="/marketplace/create" method="post">
        <table>
            <tr>
                <td>
                    Item:
                </td>
                <td>
                    <select size="3" name="itemId">
                        <option selected disabled>Select item</option>
                        {{range .Cards.Cards}}
                            <option value="{{.ID}}">{{.PlayerName}}</option>
                        {{end}}
                    </select>
                </td>
            </tr>
			<tr>
                <td>
                    User:
                </td>
                <td>
                    <select size="3" name="userId">
                        <option selected disabled>Select user</option>
                        {{range .Users}}
                            <option value="{{.ID}}">{{.NickName}}</option>
                        {{end}}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    StartPrice:
                </td>
                <td>
                    <input type="number" name="startPrice" step="0.01" min="0">
                </td>
            </tr>
            <tr>
                <td>
                    MaxPrice:
                </td>
                <td>
                    <input type="number" name="maxPrice" step="0.01" min="0">
                </td>
            </tr>
            <tr>
                <td>
                    Period:
                </td>
                <td>
                    <input type="number" name="period" min="1" max="120">
                </td>
            </tr>
        </table>
        <input type="submit" value="Create">
    </form>
</body>
</html>

<style>
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333333;
	}
	li {
		float: left;
	}
	li a {
		display: block;
		color: white;
		text-align: center;
		padding: 16px;
		text-decoration: none;
	}
	li a:hover {
		background-color: #111111;
	}
	.validation-summary-errors ul {
		background-color: white;
	}
	.validation-summary-errors li {
		margin: 15px;
		color: red;
	}
	th {
		text-align: left;
	}
</style>