{{define "pagination"}}
    <div class="pagination">
        {{$currentPage := .Page.CurrentPage}}
        {{$pageCount := .Page.PageCount}}

        {{if gt $currentPage 1}}
            <a href="/marketolace?page={{Dec $currentPage}}">&laquo;</a>
        {{end}}

        {{range $i := Iter 1 $pageCount}}
            {{if eq $currentPage $i}}
                <a class="active" href="/marketolace?page={{$i}}">{{$i}}</a>
            {{else}}
                <a href="/marketolace?page={{$i}}">{{$i}}</a>
            {{end}}
        {{end}}

        {{if lt $currentPage $pageCount}}
            <a href="/marketolace?page={{Inc $currentPage}}">&raquo;</a>
        {{end}}
    </div>
{{end}}