@import "@/index.scss";

.store {
    min-height: 90vh;
    min-width: 100%;
    overflow: hidden;
    background: $mainBackground;
    background-image: url("@static/img/StorePage/background.png");
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    color: white;
}
