@import '/src/index.scss';

.ultimatedivision-navbar {
    width: 100%;
    height: 92px;
    background-color: $navbar-backgrond-color;

    .wrapper {
        display: flex;
        width: 1440px;
        height: 92px;
        margin: auto;

        .ultimatedivision-navbar__logo {
            margin: 10px auto 25px 79px;
        }
    
        .ultimatedivision-navbar__items {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: auto;
            
            li {
                list-style-type: none;
    
                a {
                    padding: 36px 71px 34px 0;
                    text-decoration: none;
                    font-family: 'Russo One';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 22px;
                    color: $navbar-item-color;
                    cursor: pointer;
                }
    
                a:hover {
                    text-decoration: underline;
                }
            }
        }
    
        .ultimatedivision-mint-btn {
            width: 200px;
            height: 54px;
            margin: auto 80px auto auto;
            background-image: url("data:image/svg+xml, %3Csvg width='200' height='54' viewBox='0 0 200 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='200' height='54' fill='%230DF55C'/%3E%3Crect width='200' height='54' fill='url(%23paint0_linear)' fill-opacity='0.2'/%3E%3Cpath d='M199 0H173.809L136.119 53.4627H162.096L199 0Z' fill='%2367FFB6'/%3E%3Cpath d='M53.2639 0H46.567L8.87732 53.4627H16.3594L53.2639 0Z' fill='%2367FFB6'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='8.85245' y1='6.21328e-06' x2='171.959' y2='55.9918' gradientUnits='userSpaceOnUse'%3E%3Cstop/%3E%3Cstop offset='1' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    
            &__text {
                font-family: 'Hanson';
                font-style: normal;
                font-weight: bold;
                font-size: 17.8209px;
                line-height: 19px;
                color: $common-btn-text;
            }
        }
    
        .ultimatedivision-mint-btn:hover {
            background: linear-gradient(95.3deg, rgba(0, 0, 0, 0.2) 4.05%, rgba(0, 0, 0, 0) 87.48%), #0DF55C;
        }
    }

    
}