.card {
    display: grid;
    margin-bottom: 26px;
    padding-right: 25px;
    column-gap: 7px;

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 48px;
        border: 2px solid #819aff;
        border-radius: 5px;
    }

    &__active-item {
        border: 2px solid #736ffd;
    }
}
