@import "@/index.scss";

.roadmap {
    position: relative;
    overflow: hidden;
    color: white;
    margin: 60px 0;

    &__image {
        width: 100%;
    }

    &__title {
        margin: 0 0 50px 90px;
        font-family: "Wix Madefor Display", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 60px;
        line-height: 76px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #fff;
        text-shadow: 0 4px 10px rgba(8, 36, 80, 0.36);

        &__second-part {
            color: #f5ff63;
        }
    }
}

@media (max-width: 1200px) {

    .roadmap {

        &__title {
            margin: 0 0 40px 70px;
            font-size: 52px;
        }
    }
}

@media (max-width: $desktopBreakPoint) {

    .roadmap {
        margin: 50px 0;

        &__title {
            margin: 0 0 20px 50px;
            font-size: 45px;
        }
    }
}

@media (max-width: 900px) {

    .roadmap {

        &__title {
            margin: 0 0 30px 50px;
            font-size: 45px;
        }
    }
}

@media (max-width: $tabletBreakPoint) {

    .roadmap {
        margin: 40px 0;

        &__title {
            margin-bottom: 100px;
            font-size: 42px;
            line-height: 51px;
        }
    }
}
