@import "@/index.scss";

.description-cards {
    margin: 200px auto;
    min-height: 300px;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s linear;

    &__text-area {
        padding-left: 50px;
        width: 55%;
        font-family: "Roboto";
        font-weight: bold;
    }

    &__title {
        color: $roadmapHighlightColor;
        font-size: 43px;
        margin-bottom: 40px;
        font-family: "Hanson";
    }

    &__text {
        font-size: 24px;
    }

    &__card {
        width: 100%;
        transition: all 0.3s;
    }

    &__wrapper {
        position: absolute;
        right: -40px;
        width: 60%;
        max-width: 600px;
        overflow: hidden;
    }
}

@media (max-width: $desktopBreakPoint + 100px) {

    .description-cards {
        margin: 50px auto;

        &__text-area {
            width: 60%;
        }

        &__title {
            font-size: 26px;
        }

        &__text {
            width: 80%;
            font-size: 15px;
        }

        &__wrapper {
            width: 50%;
        }
    }
}

@media (max-width: $phoneBreakPoint) {

    .description-cards {
        flex-direction: column;

        &__text-area {
            padding: 0 30px;
            width: 100%;
        }

        &__text {
            display: none;
        }

        &__title {
            margin-bottom: 0;
        }

        &__wrapper {
            width: 110%;
            position: relative;
        }
    }
}
