@import "@/index.scss";

.description-cards {
    max-width: 1280px;
    margin: 100px auto;
    min-height: 300px;
    display: flex;
    align-items: center;
    overflow-x: hidden;

    &__text-area {
        padding-left: 50px;
        width: 50%;
    }

    &__title {
        color: $highlightColor;
        font-size: 36px;
        margin-bottom: 40px;
    }

    &__card {
        width: 100%;
        transition: all 0.3s;
    }

    &__wrapper {
        position: absolute;
        right: 0;
        width: 50%;
        max-width: 450px;
        overflow: hidden;
    }
}

@media (max-width: $tabletBreakPoint) {

    .description-cards {

        &__card {
            transform: translateX(50px);
        }
    }
}

@media (max-width: $phoneBreakPoint) {

    .description-cards {
        flex-direction: column;

        &__text-area {
            padding: 0 30px;
            width: 100%;
        }

        &__text {
            display: none;
        }

        &__wrapper {
            width: 100%;
            position: relative;
            right: -50px;
        }
    }
}
