@import '../../../index.scss';

.ultimatedivision-paginator {
    margin: 50px auto;
    clip-path: polygon(5% 7%, 93% 7%, 96% 95%, 7% 94%);
    background: $marketPlaceBorderColor;
    position: relative;

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 20px 0px;
        background: #181829;
        position: relative;
        clip-path: polygon(5.3% 10%, 93% 10%, 95.7% 92%, 7% 91%);
    }

    &__previous,
    &__next {
        display: flex;
        color: white;
        cursor: pointer;
        margin: auto;
        &__title {
            line-height: 24px;
            vertical-align: middle;
            font-size: 16px;
            margin: 0px 25px;
        }
    }

    &__pages {
        display: flex;
        flex-direction: row;
        &__item {
            list-style-type: none;
            background-color: #3CCF5D;
            color: #181829;
            border-radius: 15px;
            padding: 5px 10px;
            margin-left: 20px;
            font-size: 13px;
            cursor: pointer;
            &:hover {
                color: white;
            }
        }
        &__dots {
            color: white;
            margin-left: 20px;
        }
    }
}
