@import "/src/index.scss";

.projects {
    background-color: #162574;
    overflow: hidden;

    &__wrapper {
        padding: 100px;
    }

    &__title {
        max-width: 1200px;
        margin: 50px auto 80px;
        color: white;
        font-family: "Russo One";
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 63px;
        letter-spacing: 0;
        text-align: center;
    }

    &__area {
        display: grid;
        column-gap: 5px;
        row-gap: 5px;
        justify-content: center;
        grid-template-areas: "consensys nem storj near elixir"
            " . affinidi trustana bloom . ";

        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 198px;
            height: 140px;
            background-color: #1f44a0;

            &__logo {
                height: 40px;
            }
        }

        :nth-child(1) {
            grid-area: consensys;
        }

        :nth-child(2) {
            grid-area: nem;
        }

        :nth-child(3) {
            grid-area: storj;
        }

        :nth-child(4) {
            grid-area: near;
        }

        :nth-child(5) {
            grid-area: elixir;
        }

        :nth-child(6) {
            grid-area: affinidi;
        }

        :nth-child(7) {
            grid-area: trustana;
        }

        :nth-child(8) {
            grid-area: bloom;
        }
    }
}

@media (max-width: $desktopBreakPoint + 100px) {

    .projects {

        &__wrapper {
            padding: 50px;
        }

        &__title {
            margin: 30px auto 50px;
            font-size: 28px;
            line-height: 36px;
        }

        &__area {

            &__item {
                width: 150px;
                height: 100px;

                &__logo {
                    height: 30px;
                }
            }
        }
    }
}

@media (max-width: $tabletBreakPoint) {

    .projects {

        &__area {

            &__item {
                width: 110px;
                height: 60px;

                &__logo {
                    height: 20px;
                }
            }
        }
    }
}

@media (max-width: $phoneBreakPoint) {

    .projects {

        &__wrapper {
            padding: 50px 20px;
        }

        &__area {
            max-width: 400px;
            margin: 5% auto;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
        }
    }
}
