@import '@/index.scss';

.playing-area {
    max-width: 900px;
    width: 70%;
    height: 900px;
    border: 8px solid white;
    border-radius: 10px;
    background-image: url('@img/FootballFieldPage/football_field.jpg');
    background-size: cover;
    background-position: center;
    cursor: default;
    position: relative;
    margin-bottom: 40px;
    &__wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
    }

    &__4-4-2,
    &__4-3-3,
    &__4-2-4,
    &__4-4-2-shadows,
    &__4-3-3-shadows,
    &__4-2-4-shadows  {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;
        &__card,
        &__empty-card {
            position: absolute;
            width: 110px;
            height: 162px;
            transition: transform 0.3s;
            z-index: 2;
            cursor: crosshair;
            &:hover {
                transform: scale(1.1);
            }
            &:nth-child(1) {
                @include footballFieldCardPosition(85%, 50%)
            }
            &:nth-child(2) {
                @include footballFieldCardPosition(70%, 10%)
            }
            &:nth-child(3) {
                @include footballFieldCardPosition(77%, 30%)
            }
            &:nth-child(4) {
                @include footballFieldCardPosition(77%, 70%)
            }
            &:nth-child(5) {
                @include footballFieldCardPosition(70%, 90%)
            }
            &:nth-child(6) {
                @include footballFieldCardPosition(50%, 20%)
            }
            &:nth-child(7) {
                @include footballFieldCardPosition(56%, 40%)
            }
            &:nth-child(8) {
                @include footballFieldCardPosition(56%, 60%)
            }
            &:nth-child(9) {
                @include footballFieldCardPosition(50%, 80%)
            }
            &:nth-child(10) {
                @include footballFieldCardPosition(34%, 35%)
            }
            &:nth-child(11) {
                @include footballFieldCardPosition(34%, 65%)
            }
        }
        &__empty-card {
            background-image: url('@img/FootballFieldPage/emptyCard.svg');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            &:hover {
                background-image: url('@img/FootballFieldPage/emptyCardHover.svg');
            }
        }
    }

    &__4-2-4,
    &__4-2-4-shadows {
        &__card,
        &__empty-card {
            &:nth-child(1) {
                @include footballFieldCardPosition(85%, 50%)
            }
            &:nth-child(2) {
                @include footballFieldCardPosition(72%, 10%)
            }
            &:nth-child(3) {
                @include footballFieldCardPosition(78%, 30%)
            }
            &:nth-child(4) {
                @include footballFieldCardPosition(78%, 70%)
            }
            &:nth-child(5) {
                @include footballFieldCardPosition(72%, 90%)
            }
            &:nth-child(6) {
                @include footballFieldCardPosition(58%, 40%)
            }
            &:nth-child(7) {
                @include footballFieldCardPosition(58%, 60%)
            }
            &:nth-child(8) {
                @include footballFieldCardPosition(40%, 15%)
            }
            &:nth-child(9) {
                @include footballFieldCardPosition(35%, 35%)
            }
            &:nth-child(10) {
                @include footballFieldCardPosition(35%, 65%)
            }
            &:nth-child(11) {
                @include footballFieldCardPosition(40%, 85%)
            }
        }
    }

    &__4-3-3,
    &__4-3-3-shadows {
        &__card,
        &__empty-card {
            &:nth-child(1) {
                @include footballFieldCardPosition(85%, 50%)
            }
            &:nth-child(2) {
                @include footballFieldCardPosition(72%, 10%)
            }
            &:nth-child(3) {
                @include footballFieldCardPosition(78%, 30%)
            }
            &:nth-child(4) {
                @include footballFieldCardPosition(78%, 70%)
            }
            &:nth-child(5) {
                @include footballFieldCardPosition(72%, 90%)
            }
            &:nth-child(6) {
                @include footballFieldCardPosition(56%, 25%)
            }
            &:nth-child(7) {
                @include footballFieldCardPosition(62%, 50%)
            }
            &:nth-child(8) {
                @include footballFieldCardPosition(56%, 75%)
            }
            &:nth-child(9) {
                @include footballFieldCardPosition(35%, 20%)
            }
            &:nth-child(10) {
                @include footballFieldCardPosition(30%, 50%)
            }
            &:nth-child(11) {
                @include footballFieldCardPosition(34%, 80%)
            }
        }
    }

    &__4-4-2-shadows,
    &__4-3-3-shadows,
    &__4-2-4-shadows {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 1;
        &__shadow {
            width: 90%;
            position: relative;
            top: 10px;
            left: 4px;
        }
        &__card {
            position: absolute;
            width: 110px;
            height: 162px;
            z-index: 1;
            cursor: crosshair;
        }
    }
}