$highlightColor: #3ccf5d;
$roadmapHighlightColor: #00ffa3;

$desktopBreakPoint: 1024px;
$tabletBreakPoint: 800px;
$phoneBreakPoint: 600px;
$phoneResponsiveBreakPoint: 200px;

/* sign in */
$signInInputBackgroundColor: #e5e5e5;
$signInMainTextColor: #8c8c8c;
$signInErrorColor: red;

/* navbar */
$navbar-backgrond-color:#001b4f;
$navbar-item-color: #e6ffee;
$common-btn-text: #fff;

/* Home */
$home-background: #2c3c8f;
$home-text-value: #00ffa3;
$home-text: #fff;

/* Metaverse */
$metaverve-bg-color: #191b51;
$metaverve-title: #00ffa3;
$metaverve-text: #fff;
