$desktopBreakPoint: 1024px;
$tabletBreakPoint: 800px;
$phoneBreakPoint: 600px;

$marketPlaceBorderColor: #454161;
$cardHighlightColor:#3ccf5d;

$highlightColor: #3ccf5d;
$roadmapHighlightColor: #00ffa3;

$textColor: #afafaf;

$mainBackground: #181829;
$highlightBackground: #33335a;

/* common paginator */
$paginatorActivePageColor: #fff;
$paginatorNotActivePageColor: #808080;

/* common navbar */
$navbarHighlightColor: #3ccf5d;
$navbarSecondaryColor: white;
$navbarHighlightBackgroundColor: #33335a;

/* sign in */
$signInInputBackgroundColor: #e5e5e5;
$signInMainTextColor: #8c8c8c;
$signInErrorColor: red;

/* division */
$divisionTextColor: white;
$divisionMainBackgroundColor: #5f61ab;
