$desktopBreakPoint: 1024px;
$tabletBreakPoint: 800px;
$phoneBreakPoint: 600px;

$marketPlaceBorderColor: #454161;
$cardHighlightColor: #736ffd;

$highlightColor: #3ccf5d;
$roadmapHighlightColor: #00ffa3;

$textColor: #afafaf;

$pageBackground: #9fc2fb;
$mainBackground: #181829;
$highlightBackground: #33335a;

/* common navbar */
$navbarHighlightColor: #f5ff63;
$navbarSecondaryColor: #26373f;
$navbarHighlightBackgroundColor: #33335a;

/* division */
$divisionTextColor: white;
$divisionMainBackgroundColor: #5f61ab;

/* match-finder */
$matchFinderBackground: white;
$matchFinderTimerBackground: #e9e9ff;
$matchFinderTextColor: #33335a;
$matchFinderMainLinearGradientColor: #5cff79;
$matchFinderSecondLinearGradientColor: #3ccf56;

/* filter, active elements */
$defaultHighlightColor: #f5ff63;
$marketplaceHighlightColor: #cbfb00;

:root {
    --highlight-color: #f5ff63;
    --text-color: black;
    --filter-text-color: #26373f;
    --input-text-color: rgba(38, 55, 63, 0.52);
    --filter-field-mobile-bg: #9fc2fb;
    --use-filter-color: #131415;
    --clear: url("@static/img/FilterField/clear.svg");
}

.page__marketplace {
    --highlight-color: #cbfb00;
    --text-color: white;
    --filter-text-color: white;
    --input-text-color: white;
    --filter-field-mobile-bg: linear-gradient(180deg, #765989 0%, #444792 56.49%);
    --use-filter-color: white;
    --clear: url("@static/img/FilterField/marketplace_clear.svg");
}
