$desktopBreakPoint: 1024px;
$tabletBreakPoint: 800px;
$phoneBreakPoint: 600px;

$marketPlaceBorderColor: #454161;
$cardHighlightColor:#3CCF5D;


$footballerCardTextColor: #afafaf;

$marketPlaceBorderColor: #454161;

$footballFieldBackground: #181829;
$footballFielInfoBackground: #33335A;


