@import "@/index.scss";

.card-selection {
    padding: 40px 0 0;

    &__list {
        width: 100%;
        max-width: 1380px;
        margin: 0 auto;
        padding: 40px 0;
        justify-items: center;
        justify-content: center;
        justify-self: center;
        align-self: center;
        align-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        row-gap: 20px;
    }

    &__card {
        position: relative;
        width: 178px;
        border-radius: 10px;
        box-shadow: white;
        text-decoration: none;
        background: none;
        cursor: pointer;

        &__picture {
            width: 178px;
            text-decoration: none;
            background: none;
            border-radius: 10px;
            box-shadow: white;
        }

        &__selected {
            cursor: pointer;
            position: relative;

            &__label {
                position: absolute;
                right: 20px;
                top: 5px;
                padding: 7px;
                z-index: 4;
                color: white;
                background-color: #4b5255;
                font-size: 11px;
                font-weight: lighter;
                transition: all 0.2s;
                width: 26px;
                height: 28px;
                border-radius: 0 0 3px 3px;

                &:before {
                    content: "";
                    z-index: 3;
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 8px 13px 0 13px;
                    border-color: #4b5255 transparent transparent transparent;
                    top: 26.5px;
                    left: 50%;
                    transform: translateX(-50%);
                }

                &:after {
                    content: "";
                    z-index: 4;
                    position: absolute;
                    background: url("@static/img/FieldPage/checked-icon.svg");
                    background-size: cover;
                    left: 50%;
                    top: 80%;
                    width: 18px;
                    height: 18px;
                    transform: translate(-50%, -80%);
                }
            }
        }

        &__background-type {
            z-index: 1;
            position: absolute;
            margin-left: 0;
            width: 192px;
            left: -8px;
            top: -30px;
        }

        &__face-picture {
            z-index: 2;
            position: absolute;
            margin-left: 35px;
            margin-top: 20px;
            height: 110px;
        }

        &__price-gold {
            z-index: 3;
            position: absolute;
            bottom: 110px;
            right: 20px;
        }

        &__confirm-icon {
            z-index: 3;
            position: absolute;
            top: 0;
            right: 25px;
        }

        &__list {
            margin-top: 140px;
            margin-left: 50px;
            display: grid;
            grid-column-gap: 20px;
            grid-template-columns: 30px 30px;

            &__item {
                color: rgb(87, 86, 86);
                list-style: none;
                z-index: 2;
                font-size: 13px;
            }
        }

        &__price {
            margin-top: 100px;
            text-align: center;
            position: relative;

            &__picture {
                margin-right: 8px;
                vertical-align: middle;
            }

            &__current {
                color: white;
                font-size: 24px;
            }

            &__status {
                position: absolute;
                top: 50px;
                left: 26px;
            }
        }

        &__name {
            color: rgb(87, 86, 86);
            text-align: center;
            width: 100%;
            font-size: 16px;
            z-index: 2;
            margin-top: 5px;
            position: absolute;
        }
    }
}

@media (max-width: 1440px) {

    .card-selection {

        &__list {
            grid-template-columns: repeat(5, 1fr);
            column-gap: 5px;
            padding: 0;
        }
    }
}

@media (max-width: $desktopBreakPoint) {

    .card-selection {

        &__list {
            grid-template-columns: repeat(4, 1fr);
            column-gap: 0;
            padding: 0 70px 60px;
        }

        &__card {
            width: auto;
        }
    }
}

@media (max-width: $tabletBreakPoint) {

    .card-selection {
        width: 100%;
        max-width: 100%;

        &__list {
            width: 100%;
            max-width: 100%;
            grid-template-columns: repeat(3, 1fr);
            padding: 0;
        }
    }
}

@media (max-width: $phoneBreakPoint) {

    .card-selection {

        &__list {
            grid-template-columns: repeat(3, 1fr);
        }

        &__card {
            margin: 0;

            &__picture {
                width: 106px;
                height: 159.67px;
            }
        }
    }
}

@media screen and (max-width: $phoneBreakPoint) {

    .card-selection {

        &__card {

            &__selected {
                position: relative;
                cursor: pointer;

                &__label {
                    position: absolute;
                    right: 10px;
                    top: 3px;
                    width: 20px;
                    height: 22px;

                    &:before {
                        top: 20px;
                        border-width: 9px 10px 0 10px;
                    }

                    &:after {
                        width: 17px;
                        height: 17px;
                    }
                }
            }
        }
    }
}
