@import "@/index.scss";

.filter-item {
    width: 154px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    cursor: pointer;
    position: relative;

    &__title {
        cursor: pointer;
        margin-right: 14px;
        transition: background-color 0.3s;
        text-transform: uppercase;
        color: black;
        font-family: "Orbitron", sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.12em;
    }

    &__picture {
        margin-left: 5px;
        vertical-align: middle;
        transition: transform 0.5s;
    }

    &__dropdown-active {
        z-index: 5;
        box-sizing: border-box;
        position: absolute;
        display: grid;
        top: 30px;
        height: auto;
        margin: 10px 0;
        padding: 22px;
        border: 2px solid #f5ff63;
        border-radius: 21px;
        box-shadow: 0 10px 14px rgba(0, 23, 58, 0.14);
        background: rgba(255, 255, 255, 0.19);
        backdrop-filter: blur(44px);

        &__wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 160px;
        }

        &__price {
            width: 47%;
            border: none;
            border-bottom: 2px solid #f5ff63;
            font-family: "Urbanist", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.12em;
            text-transform: lowercase;
            text-shadow: 0 4px 22px rgba(25, 54, 133, 0.25);
            color: rgba(38, 55, 63, 0.52);
            background: transparent;

            &:focus {
                outline: none;
            }
        }

        &__text {
            font-family: "Urbanist", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.12em;
            color: #26373f;
            text-shadow: 0 4px 22px rgba(25, 54, 133, 0.25);
            text-transform: capitalize;
        }

        &__switcher {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 160px;
            height: 30px;

            & input:checked + .filter-item__dropdown-active__slider {
                background-color: #f5ff63;
            }

            & input:focus + .filter-item__dropdown-active__slider {
                background-color: #f5ff63;
            }

            & input:checked + .filter-item__dropdown-active__slider:before {
                -webkit-transform: translateX(15.5px);
                -ms-transform: translateX(15.5px);
                transform: translateX(15.5px);
            }
        }

        &__slider {
            width: 40px;
            height: 24px;
            position: absolute;
            cursor: pointer;
            top: 4px;
            right: 0;
            background-color: #5c80ea;
            -webkit-transition: 0.4s;
            transition: 0.4s;
            border-radius: 24px;

            &:before {
                position: absolute;
                content: "";
                height: 21.5px;
                width: 21.5px;
                left: 2px;
                bottom: 1.5px;
                background-color: white;
                box-shadow: 0 2.35294px 6.27451px rgba(0, 0, 0, 0.15), 0 2.35294px 0.784314px rgba(0, 0, 0, 0.06);
                border-radius: 50%;
                -webkit-transition: 0.4s;
                transition: 0.4s;
            }
        }

        &__checkbox {
            display: none;
        }

        & #checkbox-unlocked {

            & + label:nth-child(4) {
                border-bottom: unset;
            }
        }

        &__apply {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background: #f5ff63;
            box-shadow: 0 12px 22px rgba(0, 23, 58, 0.22);
            border-radius: 5px;
            font-family: "Orbitron", sans-serif;
            font-style: normal;
            font-weight: 900;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            color: #26373f;
            margin: 15px auto 0;
            height: 33px;
            width: 100%;
            border: none;
            cursor: pointer;
        }

        &__stats {

            &__apply {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 10px;
                background: #f5ff63;
                box-shadow: 0 12px 22px rgba(0, 23, 58, 0.22);
                border-radius: 5px;
                font-family: "Orbitron", sans-serif;
                font-style: normal;
                font-weight: 900;
                font-size: 14px;
                line-height: 18px;
                text-align: center;
                letter-spacing: 0.12em;
                text-transform: uppercase;
                color: #26373f;
                margin: 15px auto 0;
                height: 33px;
                width: 100%;
                border: none;
                cursor: pointer;
            }

            &__clear {
                cursor: pointer;
                margin: 18px 0 7px 24px;
                height: 24px;
                padding-left: 30px;
                border: none;
                font-family: "Orbitron", sans-serif;
                font-style: normal;
                font-weight: 900;
                font-size: 14px;
                line-height: 18px;
                text-align: center;
                letter-spacing: 0.12em;
                text-transform: uppercase;
                color: #26373f;
                background: transparent;
                background-image: url("@static/img/FilterField/clear.svg");
                background-repeat: no-repeat;
                background-size: contain;
            }

            &__wrapper {
                display: grid;
                grid-template-columns: 170px 170px;
                grid-template-rows: 60px 60px;
            }

            &__area {
                width: 45%;
                margin: 6px 0 0 5px;
                border: none;
                border-bottom: 2px solid #f5ff63;
                font-family: "Urbanist", sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 0.12em;
                text-transform: lowercase;
                color: rgba(38, 55, 63, 0.52);
                background: transparent;

                &:focus {
                    outline: none;
                }
            }

            &__label {
                display: inherit;
                margin-left: 5px;
                font-family: "Urbanist", sans-serif;
                font-style: normal;
                font-weight: 800;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 0.12em;
                color: #26373f;
                text-shadow: 0 4px 22px rgba(25, 54, 133, 0.25);
            }
        }
    }

    &__dropdown-inactive {
        display: none;
    }
}
