@import "@/index.scss";

.filter-item {
    position: relative;

    &__content {
        width: 154px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
        cursor: pointer;
    }

    &__title {
        margin-right: 16px;
        transition: background-color 0.3s;
        text-transform: uppercase;
        text-align: center;
        color: var(--filter-text-color);
        font-family: "Orbitron", sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.12em;
        cursor: pointer;
    }

    &__picture {
        width: 12px;
        transition: transform 0.5s;

        svg path {
            stroke: var(--use-filter-color);
        }

        &__visible {

            svg path {
                stroke: var(--highlight-color);
            }
        }
    }

    &__dropdown-active {
        z-index: 5;
        box-sizing: border-box;
        position: absolute;
        display: grid;
        top: 30px;
        height: auto;
        margin: 10px 0;
        padding: 22px;
        border: 2px solid var(--highlight-color);
        border-radius: 21px;
        box-shadow: 0 10px 14px rgba(0, 23, 58, 0.14);
        background: rgba(255, 255, 255, 0.19);
        backdrop-filter: blur(44px);

        &__wrapper {
            width: 160px;

            &--price {
                display: flex;
                justify-content: space-between;
            }
        }

        &__price {
            width: 46%;
            padding-bottom: 6px;
            border: none;
            border-bottom: 2px solid var(--highlight-color);
            font-family: "Urbanist", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.12em;
            text-transform: lowercase;
            text-shadow: 0 4px 22px rgba(25, 54, 133, 0.25);
            color: var(--input-text-color);
            background: transparent;

            &::placeholder {
                color: var(--input-text-color);
            }

            &:focus {
                outline: none;
            }
        }

        &__text {
            font-family: "Urbanist", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.12em;
            color: var(--filter-text-color);
            text-shadow: 0 4px 22px rgba(25, 54, 133, 0.25);
            text-transform: capitalize;
        }

        &__switcher {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 160px;
            height: 30px;

            & input:checked + .filter-item__dropdown-active__slider {
                background-color: var(--highlight-color);
            }

            & input:focus + .filter-item__dropdown-active__slider {
                background-color: var(--highlight-color);
            }

            & input:checked + .filter-item__dropdown-active__slider:before {
                -webkit-transform: translateX(15.5px);
                -ms-transform: translateX(15.5px);
                transform: translateX(15.5px);
            }
        }

        &__slider {
            z-index: 25;
            width: 40px;
            height: 24px;
            position: absolute;
            top: 4px;
            right: 0;
            -webkit-transition: 0.4s;
            transition: 0.4s;
            background-color: #5c80ea;
            border-radius: 24px;
            cursor: pointer;

            &:before {
                z-index: 26;
                position: absolute;
                content: "";
                height: 21.5px;
                width: 21.5px;
                left: 2px;
                bottom: 1.5px;
                background-color: white;
                box-shadow: 0 2.35294px 6.27451px rgba(0, 0, 0, 0.15), 0 2.35294px 0.784314px rgba(0, 0, 0, 0.06);
                border-radius: 50%;
                -webkit-transition: 0.4s;
                transition: 0.4s;
            }
        }

        &__checkbox {
            display: none;
        }

        & #checkbox-unlocked {

            & + label:nth-child(4) {
                border-bottom: unset;
            }
        }

        &__apply {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background: var(--highlight-color);
            box-shadow: 0 12px 22px rgba(0, 23, 58, 0.22);
            border-radius: 5px;
            font-family: "Orbitron", sans-serif;
            font-style: normal;
            font-weight: 900;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            color: #26373f;
            margin: 15px auto 0;
            height: 33px;
            width: 100%;
            border: none;
            cursor: pointer;
        }

        &__stats {

            &__apply {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 10px;
                background: var(--highlight-color);
                box-shadow: 0 12px 22px rgba(0, 23, 58, 0.22);
                border-radius: 5px;
                font-family: "Orbitron", sans-serif;
                font-style: normal;
                font-weight: 900;
                font-size: 14px;
                line-height: 18px;
                text-align: center;
                letter-spacing: 0.12em;
                text-transform: uppercase;
                color: #26373f;
                margin: 15px auto 0;
                height: 33px;
                width: 100%;
                border: none;
                cursor: pointer;
            }

            &__buttons {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }

            &__clear {
                margin: 18px 0 7px 24px;
                height: 24px;
                padding-left: 30px;
                border: none;
                text-transform: uppercase;
                font-style: normal;
                font-family: "Orbitron", sans-serif;
                font-weight: 900;
                font-size: 14px;
                line-height: 18px;
                text-align: center;
                letter-spacing: 0.12em;
                color: var(--filter-text-color);
                background: transparent;
                background-image: var(--clear);
                background-repeat: no-repeat;
                background-size: contain;
                cursor: pointer;
            }

            &__wrapper {
                display: grid;
                grid-template-columns: 170px 170px;
                grid-template-rows: 60px 60px;
            }

            &__area {
                width: 45%;
                margin: 6px 0 0 5px;
                padding-bottom: 6px;
                border: none;
                border-bottom: 2px solid var(--highlight-color);
                font-style: normal;
                font-family: "Urbanist", sans-serif;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 0.12em;
                text-transform: lowercase;
                color: var(--input-text-color);
                background: transparent;

                &::placeholder {
                    color: var(--input-text-color);
                }

                &:focus {
                    outline: none;
                }
            }

            &__label {
                display: inherit;
                margin-left: 5px;
                font-style: normal;
                font-family: "Urbanist", sans-serif;
                font-weight: 800;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 0.12em;
                color: var(--filter-text-color);
                text-shadow: 0 4px 22px rgba(25, 54, 133, 0.25);
            }
        }
    }

    &__dropdown-inactive {
        display: none;
    }
}

@media (max-width: $desktopBreakPoint) {

    .filter-item {

        &__content {
            width: 115px;
        }

        &__title {
            margin-right: 0;
            font-size: 14px;
        }
    }
}

@media (max-width: $tabletBreakPoint) {

    .filter-item {

        &__dropdown-active {
            position: unset;
            display: block;
            width: 100%;
            margin: 0 auto 16px;

            &__wrapper {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            &__price {
                width: 45%;
            }

            &__switcher {
                width: 100%;
                margin: 0;
            }

            &__apply {
                display: flex;
                justify-content: center;
            }

            &__stats {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-bottom: 14px;

                &__label {
                    width: 100%;
                    height: 20px;
                }

                &__area {
                    width: 45%;
                }
            }

            &__stats__wrapper {
                grid-template-columns: 1fr;
            }
        }

        &__content {
            justify-content: space-between;
            padding: 20px 18px;
            width: 100%;
            margin-bottom: 16px;
            border: 2px solid var(--highlight-color);
            border-radius: 12px;
            box-shadow: 0 6px 14px rgba(0, 23, 58, 0.14);
            backdrop-filter: blur(22px);
            background: rgba(255, 255, 255, 0.12);
        }
    }
}
