@import "/src/index.scss";

.ultimatedivision-mint-btn {
    border: none;
    cursor: pointer;
    background: linear-gradient(95.3deg, rgba(0, 0, 0, 0.2) 4.05%, rgba(0, 0, 0, 0) 87.48%), #0df55c;

    &__text {
        padding: 5px;
    }
}
