@import "/src/index.scss";

.register {
    display: flex;

    &__represent-reset {
        float: left;
        height: 100vh;
        width: 50%;
        text-align: center;
        background: radial-gradient(#292948 0%, #675eae 100%);
        overflow: hidden;

        &__ultimate {
            margin: 40% auto;
        }

        &__ultimate-recover {
            margin: 30% auto;
            height: 40%;
        }
    }

    &__represent {
        display: block;
        width: 50%;
        height: 100vh;
        text-align: center;
        background-size: cover;
        background-image: url("@static/images/registerPage/ball.svg");
        background-position: center;
        overflow: hidden;

        &__ultimate {
            margin: 10% auto;
        }
    }

    &__sign-up,
    &__sign-in,
    &__reset,
    &__recover {
        float: right;
        width: 50%;
        height: 100vh;
        padding-left: 100px;

        &__go-back {
            display: inline-block;
            margin-top: 10%;
            text-decoration: none;
            color: $signInMainTextColor;
            font-size: 20px;
            cursor: pointer;
            font-family: "BebasNeue", sans-serif;
            font-weight: bold;

            &__title {
                text-decoration: none;
                margin-left: 5px;
                color: $signInMainTextColor;
            }
        }

        &__title {
            font-family: "BebasNeue", sans-serif;
            font-weight: bold;
            margin-top: 20%;
            font-size: 50px;
        }

        &__description {
            margin-top: 40px;

            &__title {
                font-size: 27px;
                font-weight: 100;
            }

            &__information {
                font-family: "Montserrat", sans-serif;
                margin-top: 10px;
                width: 60%;
                color: $signInMainTextColor;

                &__sign {
                    text-decoration: none;
                    color: $highlightColor;
                    cursor: pointer;
                    margin-left: 5px;
                }
            }
        }

        &__sign-form {
            width: 310px;
            display: flex;
            flex-direction: column;
            position: relative;

            &__email,
            &__name,
            &__surname,
            &__password,
            &__confirm,
            &__email-error,
            &__name-error,
            &__surname-error,
            &__password-error {
                font-family: "Montserrat", sans-serif;
                border: 1px solid $signInMainTextColor;
                outline: none;
                width: 100%;
                line-height: 40px;
                color: $signInMainTextColor;
                padding-left: 10px;
                margin-top: 20px;
                background: $signInInputBackgroundColor;
                font-size: 14px;
                background-repeat: no-repeat;
                padding-right: 25px;
                background-position: 97.5% 50%;

                &__error {
                    color: $signInErrorColor;
                    font-size: 10px;
                }
            }

            &__email-error,
            &__name-error,
            &__surname-error,
            &__password-error {
                border: 1px solid $signInErrorColor;
            }

            &__confirm {
                border: none;
                background: url("@static/images/registerPage/button.svg");
                background-size: cover;
                background-position: center;
                line-height: 40px;
                width: 80%;
                color: black;
                border-radius: 5px;
                margin-top: 20px;
                font-family: "BebasNeue", sans-serif;
                font-weight: bold;
            }

            &__remember-me {
                margin-top: 20px;
            }

            &__forgot-password {
                position: absolute;
                bottom: 65px;
                right: 0;
                color: $signInMainTextColor;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }

    &__sign-in,
    &__reset,
    &__recover {

        &__title {
            margin-top: 30%;
        }
    }
}

@media (max-width: $desktopBreakPoint) {

    .register {

        &__represent-reset,
        &__represent-recover {

            &__ultimate {
                height: 15%;
                margin: 60% auto;
            }

            &__ultimate-recover {
                height: 35%;
                margin: 60% auto;
            }
        }

        &__represent {

            &__ultimate {
                height: 10%;
                margin: 40% auto;
            }
        }

        &__sign-up,
        &__sign-in,
        &__reset,
        &__recover {
            padding-left: 55px;

            &__description {
                margin-top: 30px;
            }

            &__title {
                font-size: 40px;
            }

            &__sign-form {
                width: 260px;

                &__email,
                &__name,
                &__surname,
                &__password,
                &__confirm {
                    line-height: 30px;
                }

                &__remember-me {
                    border-radius: 4px;
                }

                &__forgot-password {
                    bottom: 52px;
                    font-size: 14px;
                }
            }
        }

        &__sign-up {

            &__title {
                margin-top: 50px;
            }
        }
    }
}

@media (max-width: $tabletBreakPoint) {

    .register {

        &__represent-reset,
        &__represent-recover {

            &__ultimate {
                height: 10%;
                margin: 70% auto;
            }

            &__ultimate-recover {
                margin: 70% auto;
            }
        }

        &__represent {

            &__ultimate {
                height: 12%;
                margin: 70% auto;
            }
        }

        &__sign-up,
        &__sign-in,
        &__reset,
        &__recover {
            padding-left: 25px;

            &__go-back {
                margin-top: 50%;
            }

            &__description {
                margin-top: 30px;

                &__title {
                    font-size: 22px;
                }

                &__information {
                    margin-top: 10px;
                    font-size: 16px;
                }
            }

            &__title {
                font-size: 30px;
                margin-top: 80%;
            }

            &__sign-form {
                width: 240px;

                &__email,
                &__name,
                &__surname,
                &__password,
                &__confirm {
                    margin-top: 10px;
                    line-height: 24px;
                    font-size: 12px;
                }

                &__forgot-password {
                    bottom: 37px;
                }
            }
        }

        &__reset,
        &__recover {

            &__title {
                margin-top: 30%;
            }
        }

        &__sign-up {

            &__title {
                margin-top: 50%;
            }
        }
    }
}

@media (max-width: $phoneBreakPoint) {

    .register {

        &__represent-reset,
        &__represent-recover {
            display: none;

            &__ultimate {
                height: 7%;
                margin: 80% auto;
            }

            &__ultimate-recover {
                height: 25%;
                margin: 80% auto;
            }
        }

        &__represent {
            display: none;

            &__ultimate {
                height: 6%;
                margin: 80% auto;
            }
        }

        &__sign-up,
        &__sign-in,
        &__reset,
        &__recover {
            width: 80%;
            margin: auto;
            padding: 0;

            &__title {
                font-size: 48px;
                margin-top: 70px;
            }

            &__description {
                margin-top: 15px;

                &__title {
                    font-size: 22px;
                    margin-top: 35px;
                }

                &__information {
                    font-size: 12px;
                    width: 80%;
                    color: $signInMainTextColor;

                    &__sign {
                        text-decoration: none;
                        color: #3ccf56;
                        cursor: pointer;
                    }
                }
            }

            &__go-back {
                margin-top: 50%;
                font-size: 16px;
            }

            &__sign-form {
                margin-top: 10px;
                width: 100%;

                &__email,
                &__name,
                &__surname,
                &__password,
                &__confirm {
                    line-height: 40px;
                    font-size: 14px;
                    margin-top: 15px;
                }

                &__confirm {
                    width: 100%;
                }

                &__remember-me {
                    margin-top: 10px;
                }

                &__forgot-password {
                    margin-top: 20px;
                    font-size: 10px;
                    float: right;
                    text-decoration: none;
                }
            }
        }

        &__sign-in {

            &__description {

                &__information {
                    display: block;
                    width: 100%;
                    text-align: center;
                }
            }

            &__title {
                margin-top: 90px;
            }

            &__sign-form {

                &__email,
                &__password,
                &__confirm,
                &__email-error,
                &__password-error {
                    margin-top: 30px;
                }

                &__forgot-password {
                    font-size: 12px;
                    bottom: 75px;
                }
            }
        }

        &__reset {

            &__go-back {
                margin-top: 50px;
            }

            &__title {
                font-size: 27px;
                margin-top: 50px;
            }

            &__sign-form {
                margin-top: 40px;

                &__password,
                &__password-error,
                &__confirm {
                    margin-top: 35px;
                }
            }
        }

        &__recover {

            &__title {
                margin-top: 120px;
                font-size: 27px;
            }

            &__sign-form {
                margin-top: 20px;

                &__password,
                &__password-error,
                &__confirm {
                    margin-top: 35px;
                }
            }
        }
    }
}
