@import "@/index.scss";

.roadmap-point {
    position: relative;
    height: 100%;

    &__start {
        position: absolute;
        width: 415px;
        height: 275px;
        left: 7%;
        bottom: 44%;
    }

    &__middle {
        position: absolute;
        width: 386px;
        height: 284px;
        left: 45%;
        bottom: 42%;
    }

    &__finish {
        position: absolute;
        width: 300px;
        height: 190px;
        left: 58%;
        bottom: 24%;
    }

    &:after {
        content: " ";
        position: absolute;
        width: 1px;
        height: 100%;
        top: 45px;
        left: 0;
        background: linear-gradient(180deg, #4e813b -84.71%, rgba(78, 129, 59, 0.42) 90.59%);
    }

    &__step {
        position: relative;
        font-style: normal;
        text-transform: uppercase;
        margin-bottom: 15px;
        font-family: "Wix Madefor Display", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.12em;
        color: #fff;
        text-shadow: 0 2px 3px rgba(8, 36, 80, 0.36);
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: flex;
        margin-bottom: 15px;

        &__description {
            font-style: normal;
            font-family: "Urbanist", sans-serif;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.12em;
            color: #fff;
            text-shadow: 0 2px 3px rgba(8, 36, 80, 0.36);
        }

        &__bullet {
            width: 8px;
            height: 8px;
            min-width: 8px;
            min-height: 8px;
            margin: 6px 15px 4px -4px;
            border-radius: 4px;
            background: #4e813b;
        }
    }
}

@media (max-width: 1440px) {

    .roadmap-point {

        &__start {
            height: 210px;
            left: 7%;
            bottom: 44%;
        }

        &__middle {
            height: 220px;
            left: 45%;
            bottom: 42%;
        }

        &__finish {
            height: 140px;
            left: 60%;
            bottom: 22%;
        }

        &__item {
            display: flex;
            margin-bottom: 10px;

            &__description {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 1200px) {

    .roadmap-point {

        &__step {
            margin-bottom: 5px;
            font-size: 16px;
        }

        &__item {
            display: flex;
            margin-bottom: 5px;

            &__description {
                font-size: 12px;
            }
        }

        &__start {
            width: 300px;
            height: 180px;
            bottom: 46%;
        }

        &__middle {
            width: 300px;
            height: 180px;
            bottom: 43%;
        }

        &__finish {
            width: 300px;
            height: 100px;
            left: 58%;
            bottom: 24%;
        }
    }
}

@media (max-width: $desktopBreakPoint) {

    .roadmap-point {

        &__item {
            display: flex;
            margin-bottom: 0;

            &__description {
                font-size: 9px;
            }
        }

        &__step {
            font-size: 13px;
        }

        &__start {
            width: 270px;
            height: 150px;
            left: 6%;
            bottom: 48%;
        }

        &__middle {
            width: 290px;
            height: 160px;
            bottom: 45%;
        }

        &__finish {
            width: 200px;
            height: 80px;
            left: 57%;
            bottom: 24%;
        }
    }
}

@media (max-width: 900px) {

    .roadmap-point {

        &__middle {
            bottom: 43%;
        }

        &__finish {
            left: 57%;
            bottom: 24%;
        }

        &__start {
            left: 7%;
            bottom: 46%;
        }
    }
}
