@import "@/index.scss";

.roadmap-point {
    position: relative;
    left: -20px;
    width: 415px;
    height: 500px;
    padding: 55px 20px 55px 30px;
    background: linear-gradient(180deg, #3b4eb0 0%, rgba(59, 78, 176, 0) 100%);

    &:before {
        content: url("@static/img/gameLanding/roadmap/ball.svg");
        position: absolute;
        top: 148px;
        left: 25px;
    }

    &:after {
        content: "";
        position: absolute;
        width: 82%;
        top: 158px;
        left: 80px;
        height: 5px;
        z-index: 5;
        background-color: $roadmapHighlightColor;
    }

    &:nth-child(3) {

        &:after {
            width: 100vw;
            background: linear-gradient(
                90deg,
                rgba(0, 255, 162, 0.891) 0%,
                rgba(0, 255, 163, 0) 135.85%
            );
        }
    }

    &__date {
        position: relative;
        margin-bottom: 15px;
        font-size: 49.7679px;
        line-height: 60px;
        transition: font-size 0.3s;
        margin-left: -5px;
    }

    &__list {
        margin-top: 100px;
        list-style: none;

        :nth-child(2) {
            width: 275px;
        }

        :nth-child(6) {
            width: 296px;
        }
    }

    &__item {
        display: flex;
        margin-bottom: 25px;

        &__description {
            width: 100%;
            font-family: "BaiJamjuree", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #a5faff;
        }

        &__bullet {
            width: 8px;
            height: 8px;
            margin: 6px 30px 4px -4px;
            border-radius: 4px;
            background: $roadmapHighlightColor;
        }
    }
}

@media (max-width: $desktopBreakPoint) {

    .roadmap-point {
        height: 360px;
        width: 100%;
        padding: 55px 20px;

        &:after {
            display: none;
        }

        &:before {
            left: 25px;
            top: 55px;
        }

        &__date {
            bottom: 16px;
            left: 50px;
            font-size: 28px;
        }

        &__list {
            margin-top: 0;
            margin-left: 20px;

            :nth-child(2) {
                width: 100%;
            }

            :nth-child(6) {
                width: 100%;
            }
        }

        &__item {
            width: 100%;

            &__bullet {
                margin: 6px 34px 4px -15px;
            }
        }
    }
}

@media (max-width: $phoneBreakPoint) {

    .roadmap-point {
        padding: 50px 10px 50px 20px;
        width: 100%;

        &:before {
            left: 10px;
        }

        &__date {
            bottom: 11px;
            left: 30px;
        }

        &__list {
            margin-left: 8px;
        }

        &__item {
            font-family: "Roboto", sans-serif;
            font-size: 15px;
            line-height: 18px;
            text-align: left;

            &__bullet {
                margin: 5px 23px 4px -15px;
            }
        }
    }
}
