@import "@/index.scss";

.scroll-hidden {
    overflow: hidden;
}

.match-finder {
    z-index: 12;
    width: 530px;
    height: 305px;
    padding: 30px;
    display: flex;
    left: 0;
    right: 0;
    top: 300px;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    text-align: center;
    border-radius: 20px;
    border: 2px solid #f5ff63;
    backdrop-filter: blur(22px);
    color: $matchFinderTextColor;
    background: #ffffff45;

    &__wrapper {
        z-index: 11;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.75);
    }

    &__title {
        font-size: 24.5px;
        line-height: 30.82px;
        font-weight: 900;
        text-align: center;
        font-family: "Orbitron", sans-serif;
        letter-spacing: 0.12em;
        color: white;
    }

    &__timer {
        height: 59px;
        width: 250px;
        margin: 31px auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        box-shadow: 0 12px 22px 0 #00000038;
        color: white;

        &__text {
            font-size: 47px;
            line-height: 59px;
            letter-spacing: 0.12em;
            font-family: "Orbitron", sans-serif;
            font-weight: 900;
            text-align: center;
        }
    }

    &__form {
        margin-top: 33px;
        display: flex;
        justify-content: center;

        &__accept,
        &__accept-not-allowed,
        &__cancel-not-allowed,
        &__cancel {
            width: 197px;
            height: 64px;
            border: none;
            border: 2px solid #f5ff63;
            font-family: "Orbitron", sans-serif;
            font-size: 20px;
            border-radius: 10px;
            font-weight: 900;
            line-height: 25px;
            letter-spacing: 0.12em;
            text-align: center;
            text-transform: uppercase;
            box-shadow: 0 12px 22px 0 #00000038;
            background: #f5ff63;
            cursor: pointer;
        }

        &__accept,
        &__accept-not-allowed {
            margin-right: 20px;
        }

        &__accept-not-allowed,
        &__cancel-not-allowed {
            border: 2px solid white;
            background: none;
            color: white;
        }
    }
}

@media (max-width: $phoneBreakPoint) {

    .match-finder {
        height: 284px;
        width: 205px;
        top: 200px;

        &__form {
            flex-direction: column;

            &__accept,
            &__accept-not-allowed {
                width: 156px;
            }

            &__cancel {
                width: 156px;
                margin-top: 8px;
            }
        }
    }
}

@media (max-height: 420px) {

    .match-finder {
        top: 150px;
        width: 344px;
        height: 220px;

        &__form {
            flex-direction: row;

            &__accept,
            &__accept-not-allowed {
                width: 144px;
            }

            &__cancel {
                width: 140px;
                margin-top: unset;
            }
        }
    }
}

@media (max-height: 420px) {

    .match-finder {
        top: 90px;
    }
}
