@import "/src/index.scss";
@import "aos/dist/aos.css";

.roadmap {
    padding: 100px;
    background: #2c3c8f;
    color: white;
    min-height: 1200px;
    overflow-x: hidden;

    &__title {
        color: $roadmapHighlightColor;
        font-size: 36px;
        text-align: center;
        margin-bottom: 200px;
    }

    &__road {
        margin: 0 auto;
        position: relative;
        height: 5px;
        width: 120%;
        display: flex;
        justify-content: left;
        align-items: center;
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
        background: linear-gradient(0deg, $roadmapHighlightColor 0%, rgba(0, 255, 163, 0) 135.85%);
    }
}

@media (max-width: $tabletBreakPoint) {

    .roadmap {

        &__title {
            margin-bottom: 100px;
        }

        &__road {
            justify-content: flex-end;
            flex-direction: column;
            width: 5px;
            height: 800px;
            margin-bottom: 200px;

            .roadmap-circle {

                &:nth-child(2n - 1) {

                    .roadmap-point {
                        left: -250px;
                    }
                }

                &:nth-child(2n) {

                    .roadmap-point {
                        right: -300px;
                    }
                }
            }
        }
    }
}

@media (max-width: $phoneBreakPoint) {

    .roadmap {

        &__title {
            margin-bottom: 80px;
        }

        &__road {
            right: 150px;
            height: 950px;

            .roadmap-circle {

                &:nth-child(1n) {

                    .roadmap-point {
                        left: unset;
                        right: -300px;
                    }
                }
            }
        }
    }
}
