@import "/src/index.scss";
@import "aos/dist/aos.css";

.roadmap {
    padding: 100px 50px;
    background: #2c3c8f;
    color: white;
    min-height: 1200px;
    overflow-x: hidden;
    position: relative;
    transition: all 0.3s;

    &__title {
        color: $roadmapHighlightColor;
        font-size: 36px;
        text-align: center;
        margin-bottom: 200px;
    }

    &__road {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 30px;
    }

    &__bottom {
        position: absolute;
        width: 100vw;
        left: 0;
        bottom: 0;
    }
}

@media (max-width: $desktopBreakPoint) {

    .roadmap {

        &__road {
            margin-left: 40px;
            flex-direction: column;
            align-items: flex-start;

            &:before {
                content: "";
                height: 100%;
                position: absolute;
                left: -25px;
                width: 5px;
                background: linear-gradient(90deg, #00ffa3 0%, #00ffa3 135.85%);
            }
        }
    }
}

@media (max-width: $tabletBreakPoint) {

    .roadmap {

        &__title {
            margin-bottom: 100px;
        }
    }
}

@media (max-width: $phoneBreakPoint) {

    .roadmap {
        padding: 100px 20px;

        &__title {
            margin-bottom: 80px;
        }
    }
}
