@import "@/index.scss";

.box-card-quality {
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 11px;
    }

    &:last-child {
        margin-bottom: 15px;
    }

    &__icon {
        margin-right: 10px;
        width: 16px;
        height: 16px;
    }

    &__text,
    &__value {
        font-family: "Urbanist", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.12em;
        text-transform: lowercase;
        color: #26373f;
        text-shadow: 0 3.46814px 19.0748px rgba(25, 54, 133, 0.25);
    }

    &__value {
        color: $cardHighlightColor;
    }
}
