@import '@static/styles/reset';
@import '@static/styles/variables';
@import '@static/styles/extends';
@import '@static/styles/mixins';

@font-face {
    font-family: "BebasNeue";
    src: url('@static/fonts/BebasNeue-Regular.ttf');
    font-style: normal;
    font-weight: lighter;
}

@font-face {
    font-family: "Thorletto";
    src: url('@static/fonts/Thorletto.ttf');
    font-style: normal;
    font-weight: lighter;
}

html {
    font-family: "BebasNeue";
}
