@import "@/index.scss";

.ultimatedivision-navbar {
    padding: 40px 0;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;

    &__store-opening {
        background: $pageBackground;
    }

    a {
        z-index: 10;
    }

    &__dropdown {
        display: none;
    }

    &__list {
        z-index: 10;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &__item {
            list-style: none;
            font-family: "Orbitron", sans-serif;
            font-style: normal;
            font-weight: 900;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            cursor: pointer;

            &:not(:last-child) {
                margin-right: 40px;
            }

            &__active {
                text-decoration: none;
                color: var(--text-color);

                &:hover {
                    text-decoration: none;
                }
            }

            .active {
                text-decoration: none;
                color: var(--highlight-color);

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

@media screen and (max-width: $tabletBreakPoint) {

    .ultimatedivision-navbar {
        position: relative;
        padding: 0;

        &--active {
            top: 0;
            left: 0;
            z-index: 22;
            flex-direction: column;
            position: sticky;
            overflow: hidden;
            max-height: 100vh;
            min-height: 100vh;
            background: $pageBackground;
        }

        &__dropdown {
            z-index: 10;
            width: 100%;
            padding: 43px 32px 39px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            svg rect {
                fill: var(--highlight-color);
            }

            &__logo {
                width: 130px;
                text-decoration: none;
                text-align: left;
                font-weight: 800;
                font-size: 22px;
                line-height: 114%;
                letter-spacing: 0.12em;
                text-transform: uppercase;
                font-family: "Wix Madefor Display", sans-serif;
                text-shadow: 0 1.16348px 2.9087px rgba(8, 36, 80, 0.36);
                color: white;

                &__first-part {
                    color: var(--highlight-color);
                }
            }

            &__button {
                padding: 0;
                border: none;
                outline: none;
                background: none;
                cursor: pointer;
            }

            &__menu {
                font-style: normal;
                font-weight: 900;
                font-size: 18px;
                line-height: 23px;
                letter-spacing: 0.06em;
                text-transform: uppercase;
            }

            &--active {
                background: $pageBackground;
            }
        }

        &__list {
            display: none;

            &-active {
                z-index: 5;
                display: block;
                width: 100%;
                height: 100vh;
                top: 100px;
                list-style: none;
                background: $pageBackground;

                .ultimatedivision-navbar__list__item {
                    margin: 0 32px;
                    padding: 22px 0;
                    text-align: left;
                    border-bottom: 1.4px solid rgba(black, 0.2);
                    font-size: 16px;
                    text-transform: uppercase;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 20px;
                    letter-spacing: 0.06em;

                    &__active {
                        text-decoration: none;
                        color: $navbarSecondaryColor;
                    }

                    .active {
                        text-decoration: none;
                        color: $navbarHighlightColor;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $phoneBreakPoint) {

    .ultimatedivision-navbar {

        &__dropdown {
            padding: 43px 16px 39px;
        }

        &__list {

            &-active {

                .ultimatedivision-navbar__list__item {
                    margin: 0 16px;
                }
            }
        }
    }
}
