@import "@/index.scss";

.ultimatedivision-navbar {
    padding: 40px 0;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;

    &__store-opening {
        background: $pageBackground;
    }

    a {
        z-index: 10;
    }

    &__dropdown {
        display: none;
    }

    &__list {
        z-index: 10;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &__item {
            cursor: pointer;
            margin-right: 40px;
            list-style: none;
            font-family: "Orbitron", sans-serif;
            font-style: normal;
            font-weight: 900;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.12em;
            text-transform: uppercase;

            &__active {
                text-decoration: none;
                color: #000;

                &:hover {
                    text-decoration: none;
                }
            }

            .active {
                text-decoration: none;
                color: #f5ff63;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

@media screen and (max-width: $tabletBreakPoint) {

    .ultimatedivision-navbar {
        position: relative;
        padding: 0;

        &__dropdown {
            z-index: 10;
            padding: 43px 16px 39px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__logo {
                width: 130px;
                font-weight: 800;
                font-size: 22px;
                line-height: 114%;
                letter-spacing: 0.12em;
                text-transform: uppercase;
                font-family: 'Wix Madefor Display', sans-serif;
                text-shadow: 0px 1.16348px 2.9087px rgba(8, 36, 80, 0.36);
                color: white;

                &__first-part {
                    color: #F5FF63;
                }
            }

            &__button {
                cursor: pointer;
                padding: 0;
                background: none;
                border: none;
                outline: none;
            }

            &__menu {
                font-style: normal;
                font-weight: 900;
                font-size: 18px;
                line-height: 23px;
                letter-spacing: 0.06em;
                text-transform: uppercase;
            }

            &--active {
                background: $pageBackground;
            }
        }

        &__list {
            display: none;

            &-active {
                position: absolute;
                z-index: 5;
                display: block;
                width: 100%;
                height: 100vh;
                top: 100px;
                list-style: none;
                background: $pageBackground;

                &__item {
                    margin: 0 16px;
                    padding: 22px 0;
                    text-align: left;
                    border-bottom: 1.4px solid rgba(black, 0.2);
                    font-size: 16px;
                    text-transform: uppercase;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 20px;
                    letter-spacing: 0.06em;

                    &__active {
                        text-decoration: none;
                        color: $navbarSecondaryColor;
                    }

                    .active {
                        text-decoration: none;
                        color: $navbarHighlightColor;
                    }
                }
            }
        }
    }
}
