@import "@/index.scss";

.ultimatedivision-navbar {
    padding: 40px 0;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;

    &__store-opening {
        background: $pageBackground;
    }

    a {
        z-index: 10;
        margin-left: 5%;
    }

    &__dropdown {
        display: none;
    }

    &__list {
        z-index: 10;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &__item {
            cursor: pointer;
            list-style: none;
            font-family: "Orbitron", sans-serif;
            font-style: normal;
            font-weight: 900;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            margin-right: 40px;

            &__active {
                color: #000;
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                }
            }

            .active {
                color: #f5ff63;
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

@media screen and (max-width: $phoneBreakPoint) {

    .ultimatedivision-navbar {
        position: relative;

        &__dropdown {
            z-index: 10;
            display: block;
            margin: 0 5%;
        }

        &__list {
            display: none;

            &-active {
                top: 100px;
                flex-direction: column;
                position: absolute;
                z-index: 5;
                display: block;
                width: 100%;
                height: 100vh;
                background: $navbarHighlightBackgroundColor;

                &__item {
                    border-top: 1px solid rgba($navbarSecondaryColor, 0.2);
                    margin: auto;
                    padding: 25px;
                    font-size: 32px;

                    &__active {
                        text-decoration: none;
                        color: $navbarSecondaryColor;
                    }

                    .active {
                        text-decoration: none;
                        color: $navbarHighlightColor;
                    }
                }
            }
        }
    }
}
