@import "@/index.scss";

.whitepaper {
    width: 100%;
    display: flex;
    color: white;

    &__wrapper {
        width: 75%;
        min-height: 100vh;
        margin-left: 25%;
        background-color: $mainBackground;
        padding: 100px;
    }
}
