@import "@/index.scss";

.box-selection {

    &__wrapper {
        width: 100%;
        margin: 0 auto;
        padding: 0 50px;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media screen and (max-width: $desktopBreakPoint + 300px) {

    .box-selection {

        &__wrapper {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
    }
}

@media (max-width: $phoneBreakPoint) {

    .box-selection {

        &__wrapper {
            padding: 0 30px 50px 30px;
        }
    }
}
