@import "@/index.scss";

.box-selection {

    &__wrapper {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 50px;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: $desktopBreakPoint + 300px) {

    .box-selection {

        &__wrapper {
            flex-direction: column;
            align-items: center;
            gap: 100px;
        }
    }
}

@media (max-width: $phoneBreakPoint) {

    .box-selection {

        &__wrapper {
            padding: 0 30px;
        }
    }
}
