@import "@/index.scss";

.ultimatedivision-paginator {
    margin: 80px auto 0;
    position: relative;

    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 20px;
    }

    &__previous,
    &__previous-not-active,
    &__next,
    &__next-not-active {
        display: flex;

        &__title {
            vertical-align: middle;
            margin: 8px;
            font-family: "Orbitron", sans-serif;
            font-style: normal;
            font-weight: 900;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 0.12em;
        }
    }

    &__previous,
    &__previous-not-active {
        margin-right: auto;
        color: #c3dcbb;
        cursor: not-allowed;
    }

    &__next,
    &__previous {
        color: var(--highlight-color);
        cursor: pointer;

        svg path {
            stroke: var(--highlight-color);
        }
    }

    &__previous-not-active,
    &__next-not-active {

        svg path {
            stroke: #c3dcbb;
        }
    }

    &__next,
    &__next-not-active {
        margin-left: auto;
    }

    &__pages {
        display: flex;
        flex-direction: row;

        &__item,
        &__item-active {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            margin-left: 20px;
            list-style-type: none;
            text-align: center;
            color: #000;
            font-family: "Orbitron", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            cursor: pointer;
        }

        &__item-active {
            border: 1px solid var(--highlight-color);
            color: var(--highlight-color);
            border-radius: 50%;
        }

        &__dots {
            color: #000;
            margin-left: 20px;
        }
    }
}

@media (max-width: $desktopBreakPoint) {

    .ultimatedivision-paginator {

        &__previous,
        &__previous-not-active,
        &__next,
        &__next-not-active {

            &__title {
                display: none;
            }
        }
    }
}

@media (max-width: $tabletBreakPoint) {

    .ultimatedivision-paginator {
        margin: 0;
    }
}

@media (max-width: $phoneBreakPoint) {

    .ultimatedivision-paginator {

        &__previous,
        &__previous-not-active,
        &__next,
        &__next-not-active {
            height: 20px;
        }

        &__pages {

            &__item,
            &__item-active {
                margin-left: 10px;
            }

            &__dots {
                margin-left: 10px;
            }
        }
    }
}

@media (max-width: ($phoneBreakPoint - 200px)) {

    .ultimatedivision-paginator {

        &__previous,
        &__previous-not-active {
            margin-right: 10px;
        }

        &__next,
        &__next-not-active {
            margin-left: 10px;
        }

        &__pages {

            &__item,
            &__item-active {
                margin-left: 0;
            }

            &__dots {
                margin-left: 0;
            }
        }
    }
}
