@import "@/index.scss";

.ultimatedivision-paginator {
    margin: 50px auto;
    clip-path: polygon(5% 7%, 93% 7%, 96% 95%, 7% 94%);
    background: $marketPlaceBorderColor;
    position: relative;

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 20px 0;
        background: $mainBackground;
        position: relative;
        clip-path: polygon(5.3% 10%, 93% 10%, 95.7% 92%, 7% 91%);
    }

    &__previous,
    &__previous-not-active,
    &__next,
    &__next-not-active {
        display: flex;
        margin: auto;

        &__title {
            line-height: 24px;
            vertical-align: middle;
            font-size: 16px;
            margin: 0 25px;
        }
    }

    &__previous,
    &__next {
        cursor: pointer;
        color: $paginatorActivePageColor;
    }

    &__previous-not-active,
    &__next-not-active {
        cursor: not-allowed;
        color: $paginatorNotActivePageColor;
    }

    &__pages {
        display: flex;
        flex-direction: row;

        &__item,
        &__item-active {
            list-style-type: none;
            padding: 5px 10px;
            margin-left: 20px;
            font-size: 13px;
            cursor: pointer;
            color: $paginatorActivePageColor;
        }

        &__item-active {
            background-color: $cardHighlightColor;
            color: $mainBackground;
            border-radius: 15px;
        }

        &__dots {
            color: $paginatorActivePageColor;
            margin-left: 20px;
        }
    }
}

@media (max-width: $desktopBreakPoint) {

    .ultimatedivision-paginator {

        &__previous,
        &__previous-not-active,
        &__next,
        &__next-not-active {

            &__title {
                display: none;
            }
        }
    }
}

@media (max-width: $phoneBreakPoint) {

    .ultimatedivision-paginator {

        &__previous,
        &__previous-not-active,
        &__next,
        &__next-not-active {
            height: 20px;
        }

        &__pages {

            &__item,
            &__item-active {
                margin-left: 10px;
            }

            &__dots {
                margin-left: 10px;
            }
        }
    }
}

@media (max-width: ($phoneBreakPoint - 200px)) {

    .ultimatedivision-paginator {

        &__previous,
        &__previous-not-active {
            margin-right: 10px;
        }

        &__next,
        &__next-not-active {
            margin-left: 10px;
        }

        &__pages {

            &__item,
            &__item-active {
                margin-left: 0;
            }

            &__dots {
                margin-left: 0;
            }
        }
    }
}
