@import "@/index.scss";

.footballer-card-stats {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 26.5%);
    column-gap: 10%;
    justify-content: flex-start;
}

@media screen and (max-width: $desktopBreakPoint) {

    .footballer-card-stats {
        grid-template-columns: repeat(3, 29.5%);
        row-gap: 5%;
        column-gap: 5%;
    }
}

@media screen and (max-width: $tabletBreakPoint) {

    .footballer-card-stats {
        grid-template-columns: repeat(3, 29.5%);
        row-gap: 5%;
        column-gap: 5%;
    }
}

@media screen and (max-width: $tabletBreakPoint - 100px) {

    .footballer-card-stats {
        display: flex;
        flex-direction: column;
        height: auto;
    }
}
