@import "@/index.scss";

.footballer-card-stats {
    width: 100%;
    position: relative;
    display: grid;
    justify-content: flex-start;
    grid-template-columns: repeat(3, 26.5%);
    column-gap: 10%;
}

@media screen and (max-width: $desktopBreakPoint) {

    .footballer-card-stats {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 5%;
        column-gap: 2%;
    }
}

@media screen and (max-width: $tabletBreakPoint) {

    .footballer-card-stats {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 47px;
        column-gap: 5%;
    }
}
