@import "@/index.scss";

.description-pay {
    padding: 150px 50px;
    display: flex;
    justify-content: space-between;
    position: relative;

    &__radar {
        width: 410px;
        height: 516px;
        margin-right: 117px;
    }

    &__text-area {
        width: 60%;
        margin-top: 100px;
        transition: all 0.3s linear;
    }

    &__text {
        font-family: "BaiJamjuree", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #a5faff;
    }

    &__title {
        color: $roadmapHighlightColor;
        margin-bottom: 40px;
        font-family: "Russo One", sans-serif;
        font-size: 43px;
        line-height: 52px;
    }
}

@media (max-width: $desktopBreakPoint) {

    .description-pay {

        &__radar {
            height: 367px;
        }

        &__text-area {
            margin-top: 70px;
        }

        &__title {
            font-size: 26px;
        }

        &__text {
            font-size: 15px;
        }
    }
}

@media (max-width: $tabletBreakPoint) {

    .description-pay {
        padding: 100px 50px;

        &__radar {
            width: 291.61px;
            height: 367px;
            margin-right: 80px;

            svg {
                width: 291.61px;
                height: 367px;
            }
        }

        &__text-area {
            margin-top: 90px;
            width: 60%;
        }
    }
}

@media (max-width: $tabletBreakPoint - 100px) {

    .description-pay {
        padding: 100px 30px;
        flex-direction: column;

        &__radar {
            width: 80%;
            height: 100%;
            max-width: 400px;
            margin: 0 auto;
        }

        &__title {
            font-size: 32px;
            position: absolute;
            top: 20px;
        }

        &__text {
            font-size: 18px;
            text-align: justify;
        }
    }
}

@media (max-width: $phoneBreakPoint) {

    .description-pay {

        &__radar {
            width: 100%;
            height: 445.52px;
        }

        &__text-area {
            margin-top: 50px;
            width: 100%;
        }
    }
}
