@import "/src/index.scss";

.ultimatedivision-home {
    width: 100%;
    height: 842px;
    margin: 0;
    padding: 0;
    background: $home-background;

    .wrapper {
        position: relative;
        display: flex;
        width: 1440px;
        margin: auto;

        .ultimatedivision-home__text-left {
            display: flex;
            flex-direction: column;

            .value {
                margin: 212px auto auto 72px;
                padding: 5px;
                font-family: "Russo One", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 120px;
                line-height: 145px;
                color: $home-text-value;
            }

            .title {
                width: 639px;
                margin: 12px auto auto 72px;
                padding: 5px;
                font-family: "Montserrat", sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 48px;
                line-height: 59px;
                color: $home-text;
            }

            .description {
                width: 584px;
                margin: 34px auto auto 72px;
                padding: 5px;
                font-family: "Rubik", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                color: $home-text;
            }
        }

        .ultimatedivision-home__player-image {
            width: 1440px;

            img {
                position: absolute;
                margin: 58px 120px auto auto;
            }
        }
    }
}

@media screen and (max-width: 834px) {

    .ultimatedivision-home {
        height: 667.27px;

        .wrapper {
            width: 834px;
            position: relative;

            .ultimatedivision-home__text-left {

                .value {
                    margin: 195px auto auto 47px;
                    font-size: 64px;
                    line-height: 77px;
                }

                .title {
                    width: 476px;
                    margin: 12px auto auto 47px;
                    font-size: 36px;
                    line-height: 44px;
                }

                .description {
                    width: 440px;
                    margin: 19px auto auto 47px;
                    font-size: 18px;
                    line-height: 21px;
                }
            }

            .ultimatedivision-home__player-image {
                position: absolute;
                width: 834px;
                height: 450px;
                z-index: 1;
                background-image: url("@static/images/home/Player illustration-834.png");
                background-repeat: no-repeat;
                margin: 141px 51px auto 357px;

                img {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 414px) {

    .ultimatedivision-home {
        height: 852px;

        .wrapper {
            width: 414px;

            .ultimatedivision-home__text-left {

                .value {
                    margin: 46px auto auto 33px;
                }

                .title {
                    width: 352px;
                    margin: 26px auto auto 33px;
                }

                .description {
                    width: 351px;
                    margin: 439px auto auto 33px;
                }
            }

            .ultimatedivision-home__player-image {
                position: absolute;
                width: 354px;
                height: 350px;
                z-index: 0;
                background-image: url("@static/images/home/Player illustration-414.png");
                margin: 265px 59px auto 0;

                img {
                    display: none;
                }
            }
        }
    }
}
