@import "/src/index.scss";

.ultimatedivision-home {
    width: 100%;
    height: 842px;
    margin: 0;
    padding: 0;
    background: $home-background;

    .wrapper {
        position: relative;
        display: flex;
        width: 1440px;
        margin: auto;

        .ultimatedivision-home__text-left {
            display: flex;
            flex-direction: column;

            .value {
                margin: 212px auto auto 72px;
                padding: 5px;
                font-family: "Russo One";
                font-style: normal;
                font-weight: normal;
                font-size: 120px;
                line-height: 145px;
                color: $home-text-value;
            }

            .title {
                width: 639px;
                margin: 12px auto auto 72px;
                padding: 5px;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 600;
                font-size: 48px;
                line-height: 59px;
                color: $home-text;
            }

            .description {
                width: 584px;
                margin: 34px auto auto 72px;
                padding: 5px;
                font-family: "Rubik";
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                color: $home-text;
            }
        }

        .ultimatedivision-home__player-image {
            width: 1440px;

            img {
                position: absolute;
                margin: 58px 120px auto auto;
            }
        }
    }
}
