@import "@/index.scss";

.football-field-controls-area {
    margin-left: 20px;
    background: $highlightBackground;
    width: 25%;
    max-width: 400px;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;

    &__title {
        text-transform: uppercase;
        margin: 24px 0 24px 24px;
    }

    &.football-field-information-option &:first-child {
        border: 1px solid red;
    }
}

.football-field-control {

    &:last-child {
        border: none;
    }
}
