@import "/src/index.scss";

.ultimatedivision-join-btn {
    width: 300px;
    height: 64px;
    padding: 14px 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 13px;
    outline: none;
    box-shadow: 0 12px 22px rgba(8, 36, 80, 0.22);
    text-decoration: none;
    background: #f5ff63;
    cursor: pointer;

    &__text {
        text-align: center;
        text-transform: uppercase;
        font-style: normal;
        font-family: "Orbitron", sans-serif;
        font-weight: 900;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.12em;
        color: #3d5d87;
    }
}

@media (max-width: 1440px) {

    .ultimatedivision-join-btn {
        width: 250px;
        padding: 15px 0;

        &__title {
            font-size: 20px;
        }
    }
}

@media (max-width: $desktopBreakPoint) {

    .ultimatedivision-join-btn {
        height: auto;
        width: 250px;
        padding: 12px 0;

        &__text {
            font-size: 16px;
        }
    }
}

@media (max-width: $tabletBreakPoint) {

    .ultimatedivision-join-btn {
        width: 100%;
        padding: 15px 0;
    }
}
