@import "/src/index.scss";

.launch-date {
    background: #001236;

    &__wrapper {
        width: 100%;
        max-width: 1440px;
        position: relative;
        margin: 0 auto;
        display: flex;
        padding: 0 70px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__ball {
        width: 440px;
        height: 440px;
        position: relative;
        animation: bounce 5s ease-in-out both infinite;
        transition: all 0.3s linear;

        @keyframes bounce {

            0% {
                transform: translateY(-20px);
            }

            50% {
                transform: translateY(20px);
            }

            100% {
                transform: translateY(-20px);
            }
        }
    }

    &__information {
        display: block;

        &__subtitle {
            font-family: "Rubik";
            color: white;
            font-size: 28px;
        }

        &__title {
            font-family: "Russo One";
            font-size: 56px;
            color: $roadmapHighlightColor;
            letter-spacing: 2px;
            font-weight: lighter;
            margin-top: 5px;
        }

        &__remind {
            float: left;
            width: 270px;
            height: 72px;
            background: $highlightColor;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 45px auto;
            cursor: pointer;
            border: none;

            &__text {
                font-family: "Hanson", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 72px;
                color: $metaverve-text;
                margin: auto;
            }
        }
    }
}

@media (max-width: $desktopBreakPoint + 200px) {

    .launch-date {

        &__information {

            &__subtitle {
                font-size: 24px;
            }

            &__title {
                font-size: 42px;
            }
        }
    }
}

@media (max-width: $desktopBreakPoint) {

    .launch-date {

        &__wrapper {
            padding: 0 50px;
        }

        &__information {
            z-index: 2;

            &__subtitle {
                font-size: 22px;
            }

            &__title {
                font-size: 36px;
            }
        }

        &__ball {
            width: 250px;
            height: 250px;
        }
    }
}

@media (max-width: $tabletBreakPoint) {

    .launch-date {
        overflow: hidden;

        &__wrapper {
            justify-content: left;
            min-height: 440px;
            padding: 70px 20px;
        }

        &__ball {
            height: 100%;
            width: unset;
            position: absolute;
            right: 0;
            top: 0;
            animation: unset;
            z-index: 0;
        }

        &__information {

            &__remind {
                width: 156px;
                height: 42px;
                margin: 25px auto;

                &__text {
                    font-size: 14px;
                    line-height: 42px;
                }
            }
        }
    }
}

@media (max-width: $phoneBreakPoint) {

    .launch-date {

        &__information {

            &__title {
                margin-top: 30px;
            }

            &__remind {
                width: 270px;
                height: 72px;
                margin: 65px auto;

                &__text {
                    line-height: 72px;
                    font-size: 24px;
                }
            }
        }
    }
}
