@import "@/index.scss";

.description-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px auto;
    min-height: 300px;
    height: 512px;
    transition: all 0.3s linear;

    &__text-area {
        padding-left: 50px;
        padding-right: 135px;
        width: 55%;
        font-family: "Roboto";
        font-weight: bold;
    }

    &__title {
        color: $roadmapHighlightColor;
        font-size: 43px;
        line-height: 52px;
        margin-bottom: 40px;
        font-family: "Russo One", sans-serif;
    }

    &__text {
        font-family: "BaiJamjuree", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #a5faff;
    }

    &__card {
        width: 100%;
        transition: all 0.3s;
    }

    &__wrapper {
        max-width: 600px;
        overflow: hidden;
        margin-right: 150px;
        padding-top: 150px;
    }

    &__animate-block {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: $desktopBreakPoint + 100px) {

    .description-cards {
        margin: 90px auto 20px auto;

        &__text-area {
            width: 60%;
            padding-right: 50px;
            margin-right: 50px;
        }

        &__title {
            font-size: 26px;
        }

        &__text {
            width: 80%;
            font-size: 15px;
        }

        &__wrapper {
            width: 50%;
        }
    }
}

@media (max-width: $tabletBreakPoint) {

    .description-cards {
        margin: 90px auto 20px auto;
        height: 550px;

        &__text-area {
            width: 50%;
            padding-right: 0;
        }

        &__title {
            font-size: 26px;
        }

        &__text {
            width: 80%;
            font-size: 15px;
        }

        &__wrapper {
            width: 40%;
            margin-right: 50px;
            padding-top: 0;
        }

        &__animate-block {

            video {
                width: 400px;
                height: 500px;
            }
        }
    }
}

@media (max-width: $phoneBreakPoint) {

    .description-cards {
        flex-direction: column;
        position: relative;
        overflow: none;
        height: 450px;
        padding: 0 30px;

        &__text-area {
            padding: 0 10px 0 30px;
            width: 100%;
        }

        &__text {
            width: 85%;
            position: absolute;
            top: 115%;
            font-size: 18px;
            line-height: 22px;
            color: #a5faff;
            text-align: justify;
        }

        &__title {
            font-size: 32px;
            margin-bottom: 0;
        }

        &__wrapper {
            width: 50%;
            position: relative;
            right: 0;
            margin-right: 0;
        }

        &__animate-block {

            video {
                width: 300px;
                height: 300px;
            }
        }
    }
}

@media (max-width: $phoneBreakPoint - 170px) {

    .description-cards {

        &__text {
            width: 82%;
            top: 125%;
        }

        &__wrapper {
            width: 95%;
            overflow: unset;
            padding-top: 50px;
        }
    }
}
