@import "@/index.scss";

.card {
    z-index: 2;
    position: relative;
    width: 100%;
    padding: 40px 100px 80px;
    color: #26373f;

    &__player {
        width: 268px;
        height: 404.95px;

        &__info {
            margin-left: 74px;
        }
    }

    &__bg {
        z-index: -1;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50%;
        height: auto;
    }

    &__mint-info {
        display: flex;
        flex-direction: column;

        &__nft {
            margin-bottom: 22px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            font-style: normal;
            font-family: "Orbitron", sans-serif;
            font-weight: 900;
            font-size: 22px;
            line-height: 28px;
            letter-spacing: 0.12em;

            &-title {
                width: 100px;
                color: #26373f;
            }

            &-value {
                margin-left: 31px;
                text-align: center;
                text-transform: capitalize;
                font-style: normal;
                font-family: "Urbanist", sans-serif;
                font-weight: 500;
                font-size: 22px;
                line-height: 26px;
                letter-spacing: 0.12em;
            }
        }

        &__club {
            display: flex;
            align-items: center;
            text-transform: uppercase;
            font-style: normal;
            font-family: "Orbitron", sans-serif;
            font-weight: 900;
            font-size: 22px;
            line-height: 28px;
            letter-spacing: 0.12em;

            &-title {
                width: 100px;
                color: #26373f;
            }

            &-name {
                margin-left: 31px;
                text-transform: uppercase;
                font-style: normal;
                text-align: center;
                font-family: "Urbanist", sans-serif;
                font-weight: 500;
                font-size: 22px;
                line-height: 26px;
                letter-spacing: 0.12em;
            }
        }
    }

    &__mint {
        margin-left: 31px;
        padding: 5px 29px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 2px solid #f5ff63;
        outline: none;
        box-shadow: 0 12px 22px rgba(0, 23, 58, 0.22);
        border-radius: 10px;
        text-transform: uppercase;
        font-style: normal;
        text-align: center;
        font-family: "Orbitron", sans-serif;
        font-weight: 900;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.12em;
        color: #f5ff63;
        background: none;
        cursor: pointer;
    }

    &__wrapper {
        max-width: 1440px;
        width: 100%;
        height: fit-content;
    }

    &__illustrator-radar {
        width: 337px;

        &__title {
            text-align: center;
            text-transform: uppercase;
            font-style: normal;
            font-family: "Orbitron", sans-serif;
            font-weight: 600;
            font-size: 36px;
            line-height: 45px;
            letter-spacing: 0.12em;
            color: #26373f;
        }
    }

    &__info {
        margin-bottom: 140px;
        display: flex;
        justify-content: space-between;
    }

    &__name-wrapper {
        margin-left: 5%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__name {
        margin-bottom: 26px;
        text-transform: uppercase;
        font-style: normal;
        font-family: "Orbitron", sans-serif;
        font-weight: 900;
        font-size: 40px;
        line-height: 50px;
        letter-spacing: 0.12em;
        color: #26373f;
    }

    &__stats-area {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1200px) {

    .card {
        width: 100%;

        &__name {
            font-size: 30px;
        }

        &__player {

            &__info {
                margin-left: 30px;
            }
        }

        &__mint {
            padding: 5px 15px;
            margin-left: 15px;
            font-size: 12px;

            &-info {

                &__nft {

                    &-value {
                        margin-left: 21px;
                        font-size: 18px;
                    }
                }

                &__club {

                    &-name {
                        margin-left: 21px;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $desktopBreakPoint) {

    .card {
        width: 100%;

        &__name {
            font-size: 30px;
            line-height: 34px;
        }

        &__player {
            max-width: 50%;

            &__info {
                width: 50%;
                padding-top: 20px;
                margin-left: 0;
            }
        }

        &__info {
            margin-bottom: 50px;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        &__illustrator-radar {
            width: 70%;
            margin: 30px auto 0;
        }

        &__stats-area {
            width: 100%;
        }

        &__mint {
            margin-left: 20px;
            padding: 5px 16px;
            font-size: 12px;
        }

        &__mint-info {
            width: 100%;

            &__club {

                &-name {
                    margin-left: 12px;
                    font-size: 16px;
                }
            }

            &__nft {
                margin-bottom: 14px;
                font-size: 20px;

                &-value {
                    margin-left: 10px;
                    font-size: 16px;
                }
            }
        }
    }
}

@media screen and (max-width: $tabletBreakPoint) {

    .card {
        width: 100%;
        padding: 21px 48px 0;

        &__border {
            width: 100%;
            border-radius: 0;
        }

        &__info {
            width: 100%;
            margin: 0;
            flex-direction: column;
            align-items: center;
        }

        &__player {
            width: 242px;
            height: 365.52px;
            margin-bottom: 33px;

            &__info {
                width: 100%;
            }
        }

        &__name {
            font-size: 26px;
            line-height: 33px;
            text-align: center;
        }

        &__illustrator-radar {
            margin-bottom: 74px;

            &__title {
                font-weight: 500;
                font-size: 24px;
            }
        }

        &__mint-info {
            width: 100%;
            margin-bottom: 26px;

            &__nft {
                margin-bottom: 19.5px;
                line-height: 23px;
                font-size: 18px;
                font-weight: 900;

                &-value {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                }
            }

            &__club {
                margin-left: 0;
                font-size: 18px;
                font-weight: 900;

                &-name {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                }
            }
        }

        .divider {
            width: 362px;
            margin: 25px auto 25px 5%;
            border: 1.14946px solid #675eae;
        }

        &__stats-area {
            width: 100%;
        }
    }
}

@media screen and (max-width: $phoneBreakPoint) {

    .card {
        padding: 21px 16px 0;

        &__player {
            max-width: 100%;
        }

        &__wrapper {
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
        }

        .divider {
            width: 90%;
        }

        &__mint {
            padding: 6px 19px;
        }

        &__illustrator-radar {
            width: 100%;
            margin-bottom: 51px;
        }

        .footballer-card-illustrations {
            width: 100%;
            margin: 5% auto;
        }

        &__stats-area {
            width: 100%;
            margin: 5% auto;
        }
    }
}
