@import "/src/index.scss";

.card {
    width: 100%;
    display: flex;
    position: relative;
    margin: 0 auto 40px;
    padding: 70px 90px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#213497 100%, #2c3c8f 0%);
    box-shadow: 0 10px 20px 0 $roadmapHighlightColor;

    &__text-area {
        width: 70%;
    }

    &__image-0,
    &__image-1,
    &__image-2,
    &__image-3,
    &__image-4 {
        margin: auto;
        width: 30%;
    }

    &__title {
        font-family: "Thorletto", sans-serif;
        font-size: 36px;
        color: $roadmapHighlightColor;
        font-weight: 400;
        line-height: 115px;
        margin-bottom: 36px;
    }

    &__description {
        max-width: 500px;
        text-align: left;
        margin-bottom: 80px;
        font-family: "BaiJamjuree", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #a5faff;
    }

    &__box {
        margin-top: 5%;
        display: flex;
        align-items: center;
        flex-direction: row;

        &__subtitle {
            font-family: "Russo One";
            margin-left: 5%;
            font-size: 24px;
            color: $roadmapHighlightColor;
        }
    }

    @media (max-width: $desktopBreakPoint) {
        padding: 65px 50px;
        align-items: flex-start;

        &__title {
            margin-bottom: 12px;
            font-size: 36px;
        }

        &__description {
            font-size: 20px;
            margin-bottom: 50px;
            width: 85%;
        }

        &__box {

            &__subtitle {
                font-size: 18px;
            }
        }

        &__image {
            height: 160px;
            width: 160px;
        }
    }

    @media (max-width: $tabletBreakPoint) {

        &__title {
            font-size: 24px;
        }

        &__description {
            font-size: 16px;
        }

        &__box {

            &__subtitle {
                font-size: 16px;
            }
        }
    }

    @media (max-width: $phoneBreakPoint) {
        padding: 40px 20px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 82px;

        &__text-area {
            width: 100%;
        }

        &__title {
            text-align: center;
            font-size: 22px;
            margin-bottom: 220px;
            line-height: 50px;
        }

        &__description {
            width: 100%;
            margin-bottom: 30px;
            font-size: 18px;
            text-align: center;
        }

        &__box {

            &__present {
                width: 35px;
            }

            &__subtitle {
                font-size: 12px;
            }
        }

        &__image-0,
        &__image-1,
        &__image-2,
        &__image-3,
        &__image-4 {
            position: absolute;
            width: 158.1px;
            height: 158.1px;
            top: 120px;
        }
    }

    @media (max-width: $phoneBreakPoint - 200px) {

        &__title {
            font-size: 18px;
        }
    }
}
