@import "@/index.scss";

.box-card {
    width: fit-content;
    background: transparent;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
    backdrop-filter: blur(88px);
    box-shadow: 0 12px 34px rgba(0, 23, 58, 0.34);

    &__icon {
        width: 106px;
        height: 93px;
    }

    &--regular {
        justify-self: flex-end;
        border: 4px solid #736ffd;

        & .box-card__title {
            color: #736ffd;
        }

        &:hover {
            transform: translate(-25px) scale(1.1);
        }
    }

    &--cool {
        justify-self: flex-start;
        border: 4px solid #f5ff63;

        & .box-card__title {
            color: #f5ff63;
        }

        &:hover {
            transform: translate(25px) scale(1.1);
        }
    }

    &__wrapper {
        width: 100%;
        height: 100%;
        border-radius: 14px;
        position: relative;
        display: flex;
        gap: 20px;
        padding: 30px 30px 28px;
    }

    &__description {
        width: 154px;
    }

    &__title {
        font-family: "Orbitron", sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 110%;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #704dff;
        margin-bottom: 8px;
    }

    &__quantity {
        margin-bottom: 8px;

        &-value,
        &-label {
            font-family: "Orbitron", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            letter-spacing: 0.12em;
            text-transform: uppercase;
        }

        &-label {
            color: #26373f;
            margin-right: 8px;
        }

        &-value {
            color: #f5ff63;
        }
    }

    &__qualities {

        &__title {
            font-family: "Orbitron", sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 16px;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            color: #26373f;
            margin-bottom: 13px;
        }
    }

    &__button {
        cursor: pointer;
        outline: none;
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 8px 15px;
        gap: 10px;
        width: 100%;
        height: 33px;
        background: #f5ff63;
        box-shadow: 0 12px 22px rgba(0, 23, 58, 0.22);
        border-radius: 6.7px;

        &-text {
            font-family: "Orbitron", sans-serif;
            font-style: normal;
            font-weight: 900;
            font-size: 14px;
            text-align: center;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            color: #26373f;
        }

        &-value {
            font-family: "Urbanist", sans-serif;
            font-style: normal;
            font-weight: 900;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            color: #26373f;
        }
    }
}

@media (max-width: $phoneBreakPoint) {

    .box-card {

        &:hover {
            transform: scale(1);
            box-shadow: none;
        }

        position: relative;
        width: 100%;
        height: 620px;
        margin-top: 20%;

        &__wrapper {
            flex-direction: column;
            gap: 7%;
            padding: 5%;
        }

        &__icon {
            top: -100px;
            left: 50%;
            transform: translateX(-50%);
        }

        &:first-child {

            .box-card__icon {
                top: -70px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &__quantity {
            display: flex;

            .box-card__quantity-label {
                width: 50%;
                padding-left: 2%;
                align-self: flex-end;
                justify-self: flex-end;
            }

            .box-card__quantity-value {
                width: 50%;
                text-align: right;
            }
        }
    }
}
