@import "@/index.scss";

.box-card {
    width: fit-content;
    background: transparent;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
    backdrop-filter: blur(88px);
    box-shadow: 0 12px 34px rgba(0, 23, 58, 0.34);

    &__icon {
        width: 106px;
        height: 93px;
    }

    &--regular {
        justify-self: flex-end;
        border: 4px solid #736ffd;

        & .box-card__title {
            color: #736ffd;
        }

        &:hover {
            transform: translate(-25px) scale(1.1);
        }
    }

    &--cool {
        justify-self: flex-start;
        border: 4px solid #f5ff63;

        & .box-card__title {
            color: #f5ff63;
        }

        &:hover {
            transform: translate(25px) scale(1.1);
        }
    }

    &__wrapper {
        width: 100%;
        height: 100%;
        border-radius: 14px;
        position: relative;
        display: flex;
        gap: 20px;
        padding: 30px 30px 28px;
    }

    &__description {
        width: 154px;
    }

    &__title {
        font-family: "Orbitron", sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 110%;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #704dff;
        margin-bottom: 8px;
    }

    &__quantity {
        margin-bottom: 8px;

        &-value,
        &-label {
            font-family: "Orbitron", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            letter-spacing: 0.12em;
            text-transform: uppercase;
        }

        &-label {
            color: #26373f;
            margin-right: 8px;
        }

        &-value {
            color: #f5ff63;
        }
    }

    &__qualities {

        &__title {
            font-family: "Orbitron", sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 16px;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            color: #26373f;
            margin-bottom: 13px;
        }
    }

    &__button {
        cursor: pointer;
        outline: none;
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 8px 15px;
        gap: 10px;
        width: 100%;
        height: 33px;
        background: #f5ff63;
        box-shadow: 0 12px 22px rgba(0, 23, 58, 0.22);
        border-radius: 6.7px;

        &-text {
            font-family: "Orbitron", sans-serif;
            font-style: normal;
            font-weight: 900;
            font-size: 14px;
            text-align: center;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            color: #26373f;
        }

        &-value {
            font-family: "Urbanist", sans-serif;
            font-style: normal;
            font-weight: 900;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            color: #26373f;
        }
    }
}

@media (max-width: $desktopBreakPoint) {

    .box-card {

        &__wrapper {
            padding: 20px 20px 18px;
        }

        &__title {
            font-size: 20px;
        }

        &__icon {
            width: 80px;
            height: 73px;
        }

        &__description {
            width: 120px;
        }

        &__quantity {

            &-value,
            &-label {
                font-size: 16px;
            }
        }

        &__qualities {

            &__title {
                margin-bottom: 8px;
                font-size: 13px;
            }
        }

        &__button {
            padding: 6px 10px;

            &-text {
                font-size: 10px;
            }

            &-value {
                font-size: 10px;
            }
        }
    }
}

@media (max-width: $tabletBreakPoint) {

    .box-card {

        &__wrapper {
            justify-content: center;
            padding: 40px 40px 38px;
        }

        &__title {
            font-size: 30px;
        }

        &__icon {
            width: 130px;
            height: 110px;
        }

        &__description {
            width: 200px;
        }

        &--regular {

            &:hover {
                transform: none;
            }
        }

        &--cool {

            &:hover {
                transform: none;
            }
        }

        &__quantity {

            &-value,
            &-label {
                font-size: 24px;
            }
        }

        &__qualities {

            &__title {
                margin-bottom: 17px;
                font-size: 24px;
            }
        }

        &__button {
            padding: 6px 10px;

            &-text {
                font-size: 16px;
            }

            &-value {
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 700px) {

    .box-card {

        &__wrapper {
            justify-content: center;
            padding: 40px 40px 38px;
        }

        &__title {
            font-size: 26px;
        }

        &__icon {
            width: 130px;
            height: 110px;
        }

        &__description {
            width: 170px;
        }

        &--regular {

            &:hover {
                transform: none;
            }
        }

        &--cool {

            &:hover {
                transform: none;
            }
        }

        &__quantity {

            &-value,
            &-label {
                font-size: 20px;
            }
        }

        &__qualities {

            &__title {
                margin-bottom: 17px;
                font-size: 20px;
            }
        }

        &__button {
            padding: 6px 10px;

            &-text {
                font-size: 14px;
            }

            &-value {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: $phoneBreakPoint) {

    .box-card {
        width: auto;

        &__wrapper {
            padding: 22px;
        }

        &__title {
            font-size: 20px;
        }

        &__icon {
            width: 80px;
            height: 73px;
        }

        &__description {
            width: 130px;
        }

        &__quantity {

            &-value,
            &-label {
                font-size: 16px;
            }
        }

        &__qualities {

            &__title {
                margin-bottom: 8px;
                font-size: 13px;
            }
        }

        &__button {
            padding: 6px 10px;

            &-text {
                font-size: 10px;
            }

            &-value {
                font-size: 10px;
            }
        }
    }
}

@media (min-width: $tabletBreakPoint) and (max-height: 800px) {

    .box-card {

        &__wrapper {
            padding: 20px 20px 18px;
        }

        &--regular {

            &:hover {
                transform: translate(-25px) scale(1.05);
            }
        }

        &--cool {

            &:hover {
                transform: translate(25px) scale(1.05);
            }
        }
    }
}
