@import "@/index.scss";

.description-about {
    max-width: 1280px;
    margin: 200px auto;
    padding: 10px 50px;
    display: flex;
    justify-content: center;
    position: relative;

    &__image-area {
        transition: all 0.3s;
    }

    &__text-area {
        padding-right: 20px;
        margin-top: 100px;
        margin-left: -120px;
    }

    &__text {
        width: 110%;
        margin-right: 30px;
        margin-top: 40px;
        font-family: "BaiJamjuree", sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #a5faff;
    }

    &__title {
        font-family: "Russo One";
        color: $roadmapHighlightColor;
        font-size: 43px;
        line-height: 52px;
    }
}

@media (max-width: 1200px) {

    .description-about {

        &__text-area {
            margin-top: 0;
        }
    }
}

@media (max-width: 1100px) {

    .description-about {
        margin: 100px auto;
        padding: 10px 30px;

        &__text-area {
            margin-top: 20px;
            margin-left: -60px;
        }

        &__title {
            font-size: 26px;
        }

        &__text {
            width: 100%;
            margin-top: 30px;
            font-size: 15px;
        }
    }
}

@media (max-width: $tabletBreakPoint) {

    .description-about {

        &__text-area {
            margin-top: 5px;
            margin-left: -80px;
        }

        &__stats-image {
            width: 50%;
            right: -15%;
            bottom: unset;
            top: 200px;
        }
    }
}

@media (max-width: $phoneBreakPoint + 100px) {

    .description-about {
        flex-direction: column;
        align-items: center;

        &__field {
            margin-top: 60px;
        }

        &__text-area {
            margin-left: 0;
            margin-top: 40px;
            padding: 0;
        }

        &__mirrored {
            display: none;
        }

        &__title {
            position: absolute;
            top: -30px;
            font-size: 32px;
        }

        &__text {
            font-size: 18px;
            font-weight: bold;
            text-align: justify;
        }
    }
}

@media (max-width: 375px) {

    .description-about {

        &__field {
            width: 100%;
        }
    }
}
