@import "@/index.scss";

.football-field {
    background-color: $mainBackground;
    color: white;
    padding: 50px 5%;

    &__title {
        font-family: "BebasNeue", sans-serif;
        font-size: 48px;
        line-height: 58px;
        padding: 5px;
        font-weight: lighter;
    }

    &__wrapper {
        padding: 5px;
        overflow: hidden;
    }
}

@media screen and (max-width: $tabletBreakPoint) {

    .football-field {

        &__title {
            font-size: 44px;
            font-weight: lighter;
        }
    }
}
