@import "/src/index.scss";
@import "aos/dist/aos.css";

.roadmap-circle {
    position: relative;
    width: 15px;
    height: 15px;
    border: 1px solid transparent;
    border-radius: 50%;
    background: $roadmapHighlightColor;
    background-position: center;
    background-size: 130%;
    margin-right: 300px;
}

@media (max-width: $tabletBreakPoint) {

    .roadmap-circle {
        margin-right: 0;
        margin-top: 250px;
    }
}

@media (max-width: $phoneBreakPoint) {

    .roadmap-circle {
        margin-top: 300px;
    }
}
