@import '/src/index.scss';
@import 'aos/dist/aos.css';

.roadmap-circle  {
    position: relative;
    width: 35px;
    height: 35px;
    border: 5px solid $highlightColor;
    border-radius: 50%;
    background-position: center;
    background-size: 130%;
    margin-bottom: 130px;
    &__pseudo-element {
        height: 1px;
        background-color: $highlightColor;
        position: absolute;
        top: 50%;
    }
}

@media (max-width: $tabletBreakPoint) {
    .roadmap-circle {
        margin-bottom: 200px;
        &:nth-child(even),
        &:nth-child(odd) {
            &::before {
                right: 0;
                left: 100%;
                width: 60px;
            }
        }
    }
}
@media (max-width: $phoneBreakPoint) {
    .roadmap-circle {
        margin-bottom: 130px;
    }
}

[data-aos='showLeft'] {
    width: 0;
    &.aos-animate {
        width: 200px;
    }
    @media (max-width: $tabletBreakPoint) {
        width: 0;
        &.aos-animate {
            width: 50px;
        }
    }
}

[data-aos='showRight'] {
    width: 0;
    &.aos-animate {
        width: 50px;
    }
}
