@import '@/index.scss';

.football-field-information-option {
    border-bottom: 1px solid #444683;
    user-select: none;
    &__heading {
        padding: 8px 24px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: background-color 0.3s;
        text-transform: capitalize;
        &:hover {
            background:  #464678;
        }
    }
    &__image {
        transform: rotate(-90deg);
        transition: transform 0.3s;
    }
    &__list {
        height: 0px;
        padding-left: 15px;
        font-size: 14px;
        list-style: none;
        cursor: pointer;
        overflow-y: hidden;
        transition: height 0.3s ease-in-out;
    }
    &__item {
        transition: all 0.5s;
        padding: 4px 14px;
        border-radius: 5px;
        &:hover {
            background:  #464678;
            color: $cardHighlightColor;
        }
    }
}