@import "@/index.scss";

.about-menu {
    width: 400px;
    width: 25%;
    min-height: 110vh;
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: $highlightBackground;
    color: white;
    padding: 30px 40px 30px;

    &__logo-wrapper {
        padding-top: 3px;
        padding-left: 10px;
        width: 100%;
        margin-bottom: 100px;
    }

    &__whitepaper,
    &__tokenomics {
        display: flex;
        justify-content: space-between;
        width: 300px;
        padding: 17px 25px;
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
            background-color: #464678;
        }
    }

    &__whitepaper-image,
    &__tokenomics-image {
        transition: transform 0.3s;
    }

    &__tokenomics-list,
    &__whitepaper-list {
        list-style: none;
        overflow-y: hidden;
        transition: height 0.3s ease-in-out;
    }

    &__tokenomics-item,
    &__whitepaper-item {
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        cursor: pointer;
        color: white;
    }

    &__tokenomics-link,
    &__whitepaper-link {
        width: 270px;
        display: inline-block;
        padding: 5px 14px;
        color: white;
        text-decoration: none;
        transition: all 0.3s;

        &:hover {
            background-color: #464678;
            color: $cardHighlightColor;
        }
    }
}
