@import '../../../index.scss';

.football-field {
    background-color: $footballFieldBackground;
    color: white;
    padding: 50px;
    &__title {
        font-weight: lighter;
        margin-bottom: 40px;
    }
    &__wrapper {
        padding: 15px;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
    }
}