.football-field-playing-area {
    max-width: 900px;
    width: 70%;
    height: 900px;
    border: 8px solid white;
    border-radius: 10px;
    background: url('../../../img/FootballFieldPage/football_field.jpg');
    background-size: cover;
    background-position: center;
}