@import '/src/index.scss';
@import 'aos/dist/aos.css';

.heading-information {
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    &__description {
        font-size: 18px;
        max-width: 780px;
        margin: auto;
        margin-top: 16px;
        transition: font-size 0.3s;
    }
    &__title {
        font-size: 48px;
        margin-bottom: 0px;
        transition: font-size 0.3s;
    }
}
@media (max-width: $tabletBreakPoint) {
    .heading-information {
        &__description {
            max-width: unset;
            margin: 16px 30px;
        }
    }
}
@media (max-width: $phoneBreakPoint) {
    .heading-information {
        margin-top: 40px;
        &__title {
            font-size: 26px;
        }
        &__description {
            font-size: 12px;
        }
    }
}
