@import "@static/styles/reset";
@import "@static/styles/variables";

.metaverse {
    width: 100%;
    background: $metaverve-bg-color;

    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1440px;
        margin: auto;
        padding: 80px 70px;
        overflow: hidden;
    }

    &__title {
        margin-top: 80px;
        font-family: "Hanson", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 64px;
        line-height: 67px;
        text-align: center;
        color: $metaverve-title;
        transition: all 0.3s;
    }

    &__subtitle {
        font-family: "Hanson", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 67px;
        text-align: center;
        color: #fff;
        transition: all 0.3s;
    }

    &__cards {
        display: flex;
        flex-direction: row;
        width: 80%;
        object-fit: cover;
        margin: auto;
        position: relative;
    }
}

@media (max-width: $desktopBreakPoint) {

    .metaverse {

        &__title {
            margin-top: 0;
            font-size: 40px;
        }

        &__subtitle {
            font-size: 28px;
            line-height: unset;
        }
    }
}

@media (max-width: $phoneBreakPoint) {

    .metaverse {

        &__wrapper {
            padding: 80px 10px;
        }

        &__title {
            font-size: 28px;
        }

        &__subtitle {
            font-size: 22px;
            line-height: unset;
            margin-bottom: 40px;
        }

        &__cards {
            width: 100%;
        }
    }
}

@media (max-width: $phoneBreakPoint - 250px) {

    .metaverse {

        &__title {
            font-size: 24px;
        }

        &__subtitle {
            font-size: 20px;
            margin-bottom: 40px;
        }
    }
}
