.login {
    display: flex;
    align-items: center;
    justify-content: center;

    &__wrapper {
        width: 695px;
        height: 456px;
        display: flex;
        flex-direction: row;
    }

    &__represent {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px 0 0 30px;
        background: linear-gradient(90deg, #48c6ef 0%, #6f86d6 100%);

        &__logo {
            max-height: 100%;
        }
    }

    &__content {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 0 30px 30px 0;

        &__title {
            margin-bottom: 36px;
            font-family: "Orbitron", sans-serif;
            font-style: normal;
            font-weight: 900;
            font-size: 42px;
            line-height: 53px;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            color: black;
        }

        &__log-in {
            &__item {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 12px 0;
                margin-bottom: 14px;
                width: 252px;
                border-radius: 10px;
                border: 2.6px solid #6a8fda;
                box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.31);
                color: black;

                &__text {
                    font-family: "Urbanist", sans-serif;
                    font-style: normal;
                    font-weight: 900;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0.12em;
                    text-transform: uppercase;
                }
                &__logo {
                    margin-right: 4px;
                }
            }
        }
    }
}
