@import '@/index.scss';

.football-field {
    background-color: $mainBackground;
    color: white;
    padding: 50px;
    &__title {
        font-weight: lighter;
        margin-bottom: 40px;
    }
    &__wrapper {
        overflow-y: hidden;
    }
}