@import '../../../../index.scss';

.football-field-information {
    margin-left: 20px;
    background: $footballFielInfoBackground;
    width: 25%;
    max-width: 400px;
    border-radius: 5px;
    font-family: "Montserrat";

    &__title {
        text-transform: uppercase;
        margin: 24px 0 24px 24px;
    }
    &.football-field-information-option &:first-child {
            border: 1px solid red;
    }
}
.football-field-information-option {
    &:last-child {
        border: none;
    }
}