@import "/src/index.scss";

.ultimatedivision-mint-btn {
    width: 268px;
    height: 72px;
    border: none;
    cursor: pointer;
    background: linear-gradient(95.3deg, rgba(0, 0, 0, 0.2) 4.05%, rgba(0, 0, 0, 0) 87.48%), #0df55c;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    &__text {
        font-family: "Hanson", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 25px;
        color: $metaverve-text;
    }
}
