@import "/src/index.scss";

.ultimatedivision-mint-btn {
    position: relative;
    width: 268px;
    height: 72px;
    border: none;
    cursor: pointer;
    background: linear-gradient(
        95.3deg,
        rgba(0, 0, 0, 0.2) 4.05%,
        rgba(0, 0, 0, 0) 87.48%
    ),
        #0df55c;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    &__text {
        font-family: "Hanson", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 72px;
        color: #fff;
        margin: auto;
        text-transform: uppercase;
    }

    .error {
        font-size: 12px;
        position: absolute;
        bottom: -45px;
        padding: 10px 0;
        width: 100%;
        background: rgb(169, 1, 1);
    }
}

@media (max-width: $phoneBreakPoint) {

    .ultimatedivision-mint-btn {
        width: 356px;
        height: 58px;

        &__text {
            text-transform: uppercase;
            font-size: 20px;
            line-height: 58px;
        }
    }
}

@media (max-width: $phoneBreakPoint - 200px) {

    .ultimatedivision-mint-btn {
        width: 90%;
        height: 58px;

        &__text {
            font-weight: bold;
            font-size: 20px;
            line-height: 21px;
        }
    }
}
