@import "@/index.scss";

.roadmap-point {
    position: relative;
    left: -20px;
    width: 415px;
    height: 500px;
    padding: 55px 20px 55px 30px;
    background: linear-gradient(180deg, #3b4eb0 0%, rgba(59, 78, 176, 0) 100%);

    &:before {
        content: url("@static/images/roadmap/ball.svg");
        position: absolute;
        top: 148px;
        left: 25px;
    }

    &:after {
        content: "";
        position: absolute;
        width: 82%;
        top: 158px;
        left: 80px;
        height: 5px;
        z-index: 5;
        background-color: $roadmapHighlightColor;
    }

    &:nth-child(3) {

        &:after {
            width: 100vw;
            background: linear-gradient(90deg, rgba(0, 255, 162, 0.891) 0%, rgba(0, 255, 163, 0) 135.85%);
        }
    }

    &__date {
        position: relative;
        margin-bottom: 15px;
        font-family: "Russo One";
        font-size: 49.7679px;
        line-height: 60px;
        transition: font-size 0.3s;
        margin-left: -5px;
    }

    &__list {
        margin-top: 100px;
        list-style: none;
    }

    &__item {
        display: flex;
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 25px;

        &__description {
            width: 100%;
        }

        &:before {
            content: "\2022";
            color: $roadmapHighlightColor;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            height: auto;
            margin-left: -5px;
        }
    }
}

@media (max-width: $desktopBreakPoint) {

    .roadmap-point {
        height: 360px;
        width: 100%;
        padding: 55px 20px;

        &:after {
            display: none;
        }

        &:before {
            left: 25px;
            top: 55px;
        }

        &__date {
            bottom: 16px;
            left: 50px;
            font-size: 28px;
        }

        &__list {
            margin-top: 0;
            margin-left: 20px;
        }

        &__item {

            &:before {
                margin-left: -15px;
            }
        }
    }
}

@media (max-width: $phoneBreakPoint) {

    .roadmap-point {
        padding: 50px 10px 50px 20px;
        width: 100%;

        &:before {
            left: 10px;
        }

        &__date {
            bottom: 11px;
            left: 30px;
        }

        &__list {
            margin-left: 8px;
        }

        &__item {
            font-family: "Roboto";
            font-size: 15px;
            line-height: 18px;
            text-align: left;
        }
    }
}
