@import "/src/index.scss";

.register {
    display: flex;

    &__represent-reset {
        float: left;
        height: 100vh;
        width: 50%;
        text-align: center;
        background: radial-gradient(#292948 0%, #675eae 100%);
        overflow: hidden;

        &__ultimate {
            margin: 40% auto;
        }

        &__ultimate-recover {
            margin: 30% auto;
            height: 40%;
        }
    }

    &__represent {
        display: block;
        width: 50%;
        height: 100vh;
        text-align: center;
        background-size: cover;
        background-image: url("@static/img/registerPage/ball.svg");
        background-position: center;
        overflow: hidden;

        &__ultimate {
            margin: 10% auto;
        }
    }

    &__sign-up,
    &__sign-in,
    &__reset,
    &__recover {
        float: right;
        width: 50%;
        height: 100vh;
        padding-left: 90px;

        &__go-back {
            display: inline-block;
            margin-top: 10%;
            text-decoration: none;
            color: $signInMainTextColor;
            font-size: 20px;
            cursor: pointer;
            font-family: "BebasNeue", sans-serif;
            font-weight: bold;

            &__title {
                text-decoration: none;
                margin-left: 5px;
                color: $signInMainTextColor;
            }
        }

        &__title {
            font-family: "BebasNeue", sans-serif;
            font-weight: bold;
            margin-top: 20%;
            font-size: 50px;
        }

        &__description {
            margin-top: 7%;

            &__title {
                font-size: 27px;
                font-weight: 100;
            }

            &__information {
                font-family: "Montserrat", sans-serif;
                margin-top: 10px;
                width: 60%;
                color: $signInMainTextColor;

                &__sign {
                    text-decoration: none;
                    color: $highlightColor;
                    cursor: pointer;
                    margin-left: 5px;
                }

                &:nth-child(1) {
                    display: block;
                    width: 100%;
                }
            }
        }

        &__sign-form {
            width: 340px;
            display: flex;
            flex-direction: column;
            position: relative;

            &__email,
            &__name,
            &__surname,
            &__password,
            &__confirm,
            &__email-check,
            &__name-check,
            &__surname-check,
            &__password-check,
            &__email-error,
            &__name-error,
            &__surname-error,
            &__password-error {
                font-family: "Montserrat", sans-serif;
                border: 1px solid $signInMainTextColor;
                outline: none;
                width: 100%;
                line-height: 40px;
                color: $signInMainTextColor;
                padding-left: 10px;
                margin-top: 20px;
                background: $signInInputBackgroundColor;
                font-size: 14px;
                background-repeat: no-repeat;
                background-position: 97.5% 50%;

                &__error {
                    color: $signInErrorColor;
                    font-size: 14px;
                }
            }

            &__email-check,
            &__name-check,
            &__surname-check,
            &__password-check {
                background-image: url("@static/img/registerPage/check.svg");
            }

            &__email-error,
            &__name-error,
            &__surname-error,
            &__password-error {
                border: 1px solid $signInErrorColor;
            }

            &__confirm {
                border: none;
                background: url("@static/img/registerPage/button.svg");
                background-size: cover;
                background-position: center;
                line-height: 40px;
                width: 65%;
                color: black;
                border-radius: 5px;
                margin-right: 20px;
                margin-top: 0;
                font-family: "BebasNeue", sans-serif;
                font-weight: bold;
                cursor: pointer;
                font-size: 20px;
            }

            &__checkbox-wrapper {
                margin-top: 40px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &__remember-me {
                position: absolute;
                opacity: 0;

                & + label {
                    position: relative;
                    cursor: pointer;
                    color: $signInMainTextColor;
                    padding: 0;
                }

                & + label:before {
                    content: "";
                    margin-right: 5px;
                    display: inline-block;
                    vertical-align: text-top;
                    width: 14px;
                    height: 14px;
                    border-radius: 8px;
                    border: 1px solid $signInMainTextColor;
                }

                &:checked + label:after {
                    content: "";
                    position: absolute;
                    display: inline-block;
                    margin-right: 5px;
                    width: 16px;
                    height: 16px;
                    left: 0;
                    top: 0;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-image: url("@static/img/registerPage/check.svg");
                }
            }

            &__forgot-password {
                color: $signInMainTextColor;
                text-decoration: none;
                cursor: pointer;
            }

            &__auth-internal {
                margin-top: 40px;
                display: flex;
                align-items: center;
                color: $signInMainTextColor;
            }

            &__logos {
                float: right;
                display: flex;
                align-items: center;

                &__google,
                &__facebook,
                &__metamask {
                    margin-left: 15px;
                    cursor: pointer;
                }

                &__metamask {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }

    &__sign-up,
    &__reset {

        &__sign-form {

            &__confirm {
                margin-top: 40px;
            }
        }
    }

    &__sign-in,
    &__reset,
    &__recover {

        &__title {
            margin-top: 25%;
        }

        &__sign-form {
            margin-top: 10%;
        }
    }
}

@media (max-width: $desktopBreakPoint) {

    .register {

        &__represent-reset,
        &__represent-recover {

            &__ultimate {
                height: 15%;
                margin: 60% auto;
            }

            &__ultimate-recover {
                height: 35%;
                margin: 60% auto;
            }
        }

        &__represent {

            &__ultimate {
                height: 10%;
                margin: 65% auto;
            }
        }

        &__sign-up,
        &__sign-in,
        &__reset,
        &__recover {
            padding-left: 55px;

            &__description {

                &__information {
                    width: 80%;
                }
            }

            &__title {
                margin-top: 50%;
                font-size: 40px;
            }

            &__sign-form {
                width: 260px;

                &__email,
                &__name,
                &__surname,
                &__password,
                &__email-check,
                &__name-check,
                &__surname-check,
                &__password-check,
                &__confirm {
                    line-height: 30px;
                }

                &__confirm {
                    width: 100%;
                    margin-bottom: 10px;
                }

                &__remember-me {
                    border-radius: 4px;

                    & + label {
                        font-size: 14px;
                    }
                }

                &__forgot-password {
                    font-size: 14px;
                }

                &__auth-internal {
                    text-align: center;
                }
            }
        }

        &__sign-up {

            &__title {
                margin-top: 15%;
            }
        }
    }
}

@media (max-width: $tabletBreakPoint) {

    .register {

        &__represent-reset,
        &__represent-recover {

            &__ultimate {
                height: 10%;
                margin: 70% auto;
            }

            &__ultimate-recover {
                margin: 70% auto;
            }
        }

        &__represent {

            &__ultimate {
                height: 12%;
                margin: 70% auto;
            }
        }

        &__sign-up,
        &__sign-in,
        &__reset,
        &__recover {
            padding-left: 25px;

            &__go-back {
                margin-top: 50%;
            }

            &__description {

                &__title {
                    font-size: 22px;
                }

                &__information {
                    margin-top: 10px;
                    font-size: 16px;
                }
            }

            &__title {
                font-size: 30px;
                margin-top: 80%;
            }

            &__sign-form {
                width: 240px;

                &__email,
                &__name,
                &__surname,
                &__password,
                &__email-check,
                &__name-check,
                &__surname-check,
                &__password-check,
                &__confirm {
                    margin-top: 10px;
                    line-height: 24px;
                    font-size: 12px;
                }
            }
        }

        &__reset,
        &__recover {

            &__title {
                margin-top: 30%;
            }
        }

        &__sign-up {

            &__title {
                margin-top: 25%;
            }
        }
    }
}

@media (max-width: $phoneBreakPoint) {

    .register {

        &__represent-reset,
        &__represent-recover {
            display: none;

            &__ultimate {
                height: 7%;
                margin: 80% auto;
            }

            &__ultimate-recover {
                height: 25%;
                margin: 80% auto;
            }
        }

        &__represent {
            display: none;

            &__ultimate {
                height: 6%;
                margin: 80% auto;
            }
        }

        &__sign-up,
        &__sign-in,
        &__reset,
        &__recover {
            width: 80%;
            margin: auto;
            padding: 0;

            &__title {
                font-size: 48px;
                margin-top: 60px;
            }

            &__description {

                &__title {
                    font-size: 22px;
                    margin-top: 35px;
                }

                &__information {
                    font-size: 12px;
                    width: 80%;
                    color: $signInMainTextColor;

                    &__sign {
                        text-decoration: none;
                        color: #3ccf56;
                        cursor: pointer;
                    }
                }
            }

            &__go-back {
                margin-top: 50%;
                font-size: 16px;
            }

            &__sign-form {
                margin-top: 10px;
                width: 100%;

                &__email,
                &__name,
                &__surname,
                &__password,
                &__email-check,
                &__name-check,
                &__surname-check,
                &__password-check,
                &__confirm {
                    line-height: 40px;
                    font-size: 12px;
                    margin-top: 20px;
                }

                &__confirm {
                    width: 100%;
                    margin-bottom: 20px;
                    font-size: 16px;
                }

                &__remember-me {
                    margin-top: 10px;
                }
            }
        }

        &__sign-up {

            &__title {
                margin-top: 5px;
            }

            &__sign-form {

                &__email,
                &__name,
                &__surname,
                &__password,
                &__email-check,
                &__name-check,
                &__surname-check,
                &__password-check,
                &__confirm {
                    margin-top: 20px;
                }
            }
        }

        &__sign-in,
        &__sign-up {

            &__description {

                &__information:nth-child(1) {
                    text-align: center;
                }
            }
        }

        &__sign-in {

            &__title {
                margin-top: 100px;
            }
        }

        &__reset {

            &__go-back {
                margin-top: 50px;
            }

            &__title {
                font-size: 27px;
                margin-top: 50px;
            }

            &__sign-form {
                margin-top: 40px;

                &__password,
                &__password-check,
                &__password-error,
                &__confirm {
                    margin-top: 35px;
                }
            }
        }

        &__recover {

            &__title {
                margin-top: 120px;
                font-size: 27px;
            }

            &__sign-form {
                margin-top: 20px;

                &__password,
                &__password-check,
                &__password-error,
                &__confirm {
                    margin-top: 35px;
                }
            }
        }
    }
}

@media (max-width: $phoneBreakPoint - 240px) {

    .register {

        &__sign-up {

            &__sign-form {

                &__email,
                &__name,
                &__surname,
                &__password,
                &__email-check,
                &__name-check,
                &__surname-check,
                &__password-check,
                &__confirm {
                    margin-top: 7.5px;
                }
            }
        }
    }
}

@media (max-height: $phoneBreakPoint - 50px) {

    .register {

        &__represent,
        &__represent-recover,
        &__represent-reset {
            display: none;
        }

        &__sign-in,
        &__sign-up,
        &__reset,
        &__recover {
            width: 100%;
            margin: auto;
            text-align: center;
            padding: 0;

            &__description {

                &__information {
                    margin: 20px auto;
                }
            }

            &__title,
            &__go-back {
                margin-top: 5%;
            }

            &__sign-form {
                margin: auto;
                width: 50%;

                &__remember-me {
                    float: left;
                }

                &__forgot-password {
                    bottom: 105px;
                }

                &__email,
                &__name,
                &__surname,
                &__password,
                &__email-error,
                &__name-error,
                &__surname-error,
                &__password-error,
                &__email-check,
                &__name-check,
                &__surname-check,
                &__password-check,
                &__confirm {
                    line-height: 40px;
                    font-size: 12px;
                }

                &__confirm {
                    font-size: 16px;
                }

                &__email-error,
                &__name-error,
                &__surname-error,
                &__password-error {
                    margin-top: 5px;
                    font-size: 12px;
                }
            }
        }
    }
}

@media (max-height: $phoneBreakPoint - 200px) {

    .register {

        &__sign-in,
        &__sign-up,
        &__reset,
        &__recover {

            &__sign-form {

                &__forgot-password {
                    bottom: 120px;
                }
            }
        }
    }
}

@media (max-height: $phoneBreakPoint - 250px) {

    .register {

        &__sign-in,
        &__sign-up,
        &__reset,
        &__recover {

            &__sign-form {

                &__forgot-password {
                    bottom: 140px;
                }
            }
        }
    }
}
