$highlightColor: #3ccf5d;

$desktopBreakPoint: 1024px;
$tabletBreakPoint: 800px;
$phoneBreakPoint: 600px;
$phoneResponsiveBreakPoint: 200px;

/* navbar */
$navbar-backgrond-color:#001B4F;
$navbar-item-color: #E6FFEE;
$common-btn-text: #FFFFFF;

/* Home*/
$home-background: #2C3C8F;
$home-text-value: #00FFA3;
$home-text: #FFFFFF;