$highlightColor: #3ccf5d;
$roadmapHighlightColor: #00ffa3;

$desktopBreakPoint: 1024px;
$tabletBreakPoint: 800px;
$phoneBreakPoint: 600px;
$phoneResponsiveBreakPoint: 200px;

/* navbar */
$navbar-backgrond-color:#001b4f;
$navbar-item-color: #e6ffee;
$common-btn-text: #fff;

/* Home */
$home-background: #2c3c8f;
$home-text-value: #00ffa3;
$home-text: #fff;
