@import "./app/static/styles/reset";
@import "./app/static/styles/variables";
@import "./app/static/styles/extends";
@import "./app/static/styles/mixins";
@import "react-toastify/dist/ReactToastify.min.css";

.page {
    background: $pageBackground;

    &__store {
        background: url("@static/img/StorePage/background.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        overflow: hidden;
    }

    &__home {
        background: #6facff;
    }

    &.scroll-unset {
        overflow-y: hidden;
        max-height: 100vh;
    }
}

@font-face {
    font-family: "Montserrat";
    src: url("@static/fonts/Montserrat-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "BebasNeue";
    src: url("@static/fonts/BebasNeue-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: lighter;
    font-display: swap;
}

@font-face {
    font-family: "Digital Numbers";
    src: url("@static/fonts/DigitalNumbers-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: lighter;
    font-display: swap;
}

@font-face {
    font-family: "Russo One";
    src: url("@static/fonts/RussoOne-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: lighter;
    font-display: swap;
}

@font-face {
    font-family: "Hanson";
    src: url("@static/fonts/Hanson-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: lighter;
    font-display: swap;
}

@font-face {
    font-family: "BaiJamjuree";
    src: url("@static/fonts/BaiJamjuree-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: lighter;
    font-display: swap;
}

@font-face {
    font-family: "Syncopate";
    src: url("@static/fonts/Syncopate-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: lighter;
    font-display: swap;
}

@font-face {
    font-family: "Orbitron";
    src: url("@static/fonts/Orbitron-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Orbitron";
    src: url("@static/fonts/Orbitron-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Orbitron";
    src: url("@static/fonts/Orbitron-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Orbitron";
    src: url("@static/fonts/Orbitron-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Orbitron";
    src: url("@static/fonts/Orbitron-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Urbanist";
    src: url("@static/fonts/Urbanist-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: lighter;
}

@font-face {
    font-family: "Urbanist";
    src: url("@static/fonts/Urbanist-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Urbanist";
    src: url("@static/fonts/Urbanist-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Urbanist";
    src: url("@static/fonts/Urbanist-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Urbanist";
    src: url("@static/fonts/Urbanist-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Urbanist";
    src: url("@static/fonts/Urbanist-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Wix Madefor Display";
    src: url("@static/fonts/WixMadeforTextBold.otf") format("truetype");
    font-style: normal;
    font-weight: 800;
}

html {
    font-family: "Orbitron", sans-serif;
    color: #26373f;
    scroll-behavior: smooth;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
