@import "./app/static/styles/reset";
@import "./app/static/styles/variables";
@import "./app/static/styles/extends";
@import "./app/static/styles/mixins";
@import "react-toastify/dist/ReactToastify.min.css";

@font-face {
    font-family: "Montserrat";
    src: url("@static/fonts/Montserrat-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "BebasNeue";
    src: url("@static/fonts/BebasNeue-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: lighter;
    font-display: swap;
}

@font-face {
    font-family: "Digital Numbers";
    src: url("@static/fonts/DigitalNumbers-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: lighter;
    font-display: swap;
}

@font-face {
    font-family: "Russo One";
    src: url("@static/fonts/RussoOne-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: lighter;
    font-display: swap;
}

@font-face {
    font-family: "Hanson";
    src: url("@static/fonts/Hanson-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: lighter;
    font-display: swap;
}

@font-face {
    font-family: "BaiJamjuree";
    src: url("@static/fonts/BaiJamjuree-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: lighter;
    font-display: swap;
}

@font-face {
    font-family: "Syncopate";
    src: url("@static/fonts/Syncopate-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: lighter;
    font-display: swap;
}

html {
    font-family: "BebasNeue", sans-serif;
    scroll-behavior: smooth;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
