@import "./app/static/styles/reset";
@import "./app/static/styles/variables";
@import "./app/static/styles/extends";
@import "./app/static/styles/mixins";
@import "./app/static/styles/typography";
@import "react-toastify/dist/ReactToastify.min.css";

.page {
    background: $pageBackground;

    &__store {
        background: url("@static/img/StorePage/background.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        overflow: hidden;
    }

    &__home {
        background: #6facff;
    }

    &.scroll-unset {
        overflow-y: hidden;
        max-height: 100vh;
    }
}

html {
    font-family: "Orbitron", sans-serif;
    color: #26373f;
    scroll-behavior: smooth;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
