@import "./app/static/styles/reset";
@import "./app/static/styles/variables";
@import "./app/static/styles/extends";
@import "./app/static/styles/mixins";
@import "./app/static/styles/typography";
@import "react-toastify/dist/ReactToastify.min.css";

.page {
    background: $pageBackground;

    &__store {
        background: url("@static/img/StorePage/background.webp");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        overflow: hidden;

        .ultimatedivision-navbar--active {
            background: var(--filter-field-mobile-bg);
        }
    }

    &__home {
        background: #6facff;
    }

    &__cards,
    &__marketplace {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__marketplace {
        background: linear-gradient(180deg, #765989 0%, #444792 97.4%);
    }

    &.scroll-unset {
        overflow-y: auto;
    }
}

@media screen and (max-width: $tabletBreakPoint) {

    .page {

        &__store {
            height: auto;
        }

        &.scroll-unset {
            overflow-y: hidden;
            max-height: 100vh;
        }
    }
}

html {
    scroll-behavior: smooth;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-display: swap;
    font-family: "Orbitron", sans-serif;
    color: #26373f;
}
