@import "@/index.scss";

.box-content {
    width: 100%;
    min-height: 90vh;
    overflow: hidden;
    background: $mainBackground;
    background-image: url("@static/img/StorePage/background.png");
    background-position: center;
    background-repeat: no-repeat;
}
