@import "@/index.scss";

.footballer-card-stats-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 70px;

    &__heading {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        font-family: "Orbitron", sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: 0.12em;
        text-transform: uppercase;

        &-value {
            color: #f5ff63;
        }
    }

    &__diagram {
        position: relative;
        width: 100%;
        height: 6px;
        background: rgba(255, 255, 255, 0.14);
        bottom: 19px;
        border-radius: 0 12px 12px 0;
        box-shadow: 0 2px 12px rgb(0 23 58 / 16%);
    }

    &__diagram-value {
        position: absolute;
        background: #f5ff63;
        z-index: 2;
        height: 6px;
        top: 0;
        left: 0;
        border-radius: 12px 0 0 12px;
        box-shadow: 0 2px 12px rgb(0 23 58 / 16%);
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 23px;
        margin-bottom: 29px;

        &:not(:last-child):after {
            content: "";
            position: absolute;
            width: 100%;
            left: 0;
            bottom: -16px;
            background: rgba(216, 242, 255, 0.26);
            height: 2px;
        }
    }

    &__row-name {
        text-transform: capitalize;
        padding-right: 2px;
        font-family: "Urbanist", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.12em;
        color: #344a54;
    }

    &__row-value {
        font-family: "Orbitron", sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.12em;
        color: #26373f;
    }

    .bar {
        position: absolute;
        left: 0;
        top: 0;
    }
}

@media screen and (max-width: $tabletBreakPoint) {

    .footballer-card-stats-item {

        &__heading {
            display: flex;
            justify-content: space-between;
            font-size: 22px;
            margin-bottom: 40px;
        }

        &__row-name {
            font-size: 10px;
        }
    }
}

@media screen and (max-width: $phoneBreakPoint) {

    .footballer-card-stats-item {
        margin: 5% 0;

        &__heading {
            font-size: 24px;
            line-height: 29px;
        }

        &__row-name {
            font-size: 14px;
            line-height: 17px;
        }
    }
}
