@import '../../../../index.scss';

.playing-formation-4-4-2,
.playing-formation-4-3-3,
.playing-formation-4-2-4 {
    width: 100%;
    height: 100%;
    position: relative;
    &__card,
    &__empty-card {
        position: absolute;
        width: 110px;
        height: 162px;
        transition: transform 0.3s;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
        }
        &:nth-child(1) {
            @include footballFieldCardPosition(85%, 50%)
        }
        &:nth-child(2) {
            @include footballFieldCardPosition(70%, 10%)
        }
        &:nth-child(3) {
            @include footballFieldCardPosition(77%, 30%)
        }
        &:nth-child(4) {
            @include footballFieldCardPosition(77%, 70%)
        }
        &:nth-child(5) {
            @include footballFieldCardPosition(70%, 90%)
        }
        &:nth-child(6) {
            @include footballFieldCardPosition(50%, 20%)
        }
        &:nth-child(7) {
            @include footballFieldCardPosition(56%, 40%)
        }
        &:nth-child(8) {
            @include footballFieldCardPosition(56%, 60%)
        }
        &:nth-child(9) {
            @include footballFieldCardPosition(50%, 80%)
        }
        &:nth-child(10) {
            @include footballFieldCardPosition(34%, 35%)
        }
        &:nth-child(11) {
            @include footballFieldCardPosition(34%, 65%)
        }
    }
    &__empty-card {
        background-image: url('../../../../img/FootballFieldPage/emtyCard.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        &:hover {
            background-image: url('../../../../img/FootballFieldPage/emtyCardHover.png');
        }
    }

}

.playing-formation-4-2-4 {
    &__card,
    &__empty-card {
        &:hover {
            transform: scale(1.1);
        }
        &:nth-child(1) {
            @include footballFieldCardPosition(85%, 50%)
        }
        &:nth-child(2) {
            @include footballFieldCardPosition(72%, 10%)
        }
        &:nth-child(3) {
            @include footballFieldCardPosition(78%, 30%)
        }
        &:nth-child(4) {
            @include footballFieldCardPosition(78%, 70%)
        }
        &:nth-child(5) {
            @include footballFieldCardPosition(72%, 90%)
        }
        &:nth-child(6) {
            @include footballFieldCardPosition(58%, 40%)
        }
        &:nth-child(7) {
            @include footballFieldCardPosition(58%, 60%)
        }
        &:nth-child(8) {
            @include footballFieldCardPosition(40%, 15%)
        }
        &:nth-child(9) {
            @include footballFieldCardPosition(35%, 35%)
        }
        &:nth-child(10) {
            @include footballFieldCardPosition(35%, 65%)
        }
        &:nth-child(11) {
            @include footballFieldCardPosition(40%, 85%)
        }
    }
}

.playing-formation-4-3-3 {
    &__card,
    &__empty-card {
        &:hover {
            transform: scale(1.1);
        }
        &:nth-child(1) {
            @include footballFieldCardPosition(85%, 50%)
        }
        &:nth-child(2) {
            @include footballFieldCardPosition(72%, 10%)
        }
        &:nth-child(3) {
            @include footballFieldCardPosition(78%, 30%)
        }
        &:nth-child(4) {
            @include footballFieldCardPosition(78%, 70%)
        }
        &:nth-child(5) {
            @include footballFieldCardPosition(72%, 90%)
        }
        &:nth-child(6) {
            @include footballFieldCardPosition(56%, 25%)
        }
        &:nth-child(7) {
            @include footballFieldCardPosition(62%, 50%)
        }
        &:nth-child(8) {
            @include footballFieldCardPosition(56%, 75%)
        }
        &:nth-child(9) {
            @include footballFieldCardPosition(35%, 20%)
        }
        &:nth-child(10) {
            @include footballFieldCardPosition(30%, 50%)
        }
        &:nth-child(11) {
            @include footballFieldCardPosition(34%, 80%)
        }
    }
}
