@import "/src/index.scss";

.heading-modal {
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#000000c7, #000000d8);
    text-align: center;

    &__window {
        position: fixed;
        z-index: 3;
        background: white;
        margin: auto;
        text-align: center;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $highlightColor;
        transition: width 0.3s;
    }

    &__description {
        margin: 5px 80px 10px;
        max-width: 320px;
        font-size: 36px;
        transition: font-size 0.3s;
    }

    &__close {
        width: max-content;
    }

    &__close-text {
        text-align: left;
        padding-left: 15px;
        padding-top: 5px;
        font-size: 30px;
        cursor: pointer;
        font-weight: normal;
    }

    &__send {
        width: 70%;
        border: none;
        line-height: 40px;
        padding-left: 20px;
        margin-bottom: 20px;
        outline: none;

        &:focus {
            box-shadow: 0 0 10px white;
        }
    }

    &__wrapper {
        width: 100%;
        margin-bottom: 20px;
    }

    &__confirm {
        @extend %button;

        border: 5px solid white;
        background-color: white;
        color: $highlightColor;

        &:before {
            background-color: $highlightColor;
            color: white;
        }
    }

    @media (max-width: $tabletBreakPoint) {

        &__window {
            width: 60%;
        }

        &__description {
            font-size: 30px;
        }

        &__send {
            width: 80%;
            margin-bottom: 20px;
        }

        &__confirm {
            padding: 5px 100px;
            font-size: 22px;
        }
    }

    @media (max-width: $phoneBreakPoint) {

        &__window {
            top: 27%;
            width: 70%;
        }

        &__description {
            margin: 0 60px 15px;
            font-size: 26px;
        }

        &__close-text {
            text-align: left;
            padding-left: 10px;
            font-size: 20px;
            cursor: pointer;
        }

        &__send {
            width: 80%;
            border: none;
            line-height: 28px;
            padding-left: 5px;
            font-size: 12px;
        }

        &__confirm {
            width: 70%;
            padding: 5px 0;
        }
    }

    @media (max-width: $phoneBreakPoint - 200px) {

        &__window {
            width: 80%;
        }

        &__description {
            margin: 20px;
        }
    }
}
