@import "@/index.scss";

.field-controls {
    position: relative;
    height: 300px;
    width: min-content;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

    &__wrapper {
        display: flex;
        flex-direction: column;
        height: auto;
        position: relative;
    }

    &__settings {
        height: 44px;
        padding: 11.5px 31px;
        font-family: "Montserrat", sans-serif;
        display: flex;
        flex-direction: row;
        box-shadow: 0 10px 14px rgba(0, 0, 0, 0.14);
        border-radius: 24px;
        border: 3px solid #f5ff63;
        background: rgba(255, 255, 255, 0.12);

        &__item {
            overflow: hidden;
            user-select: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 154px;

            &:not(:last-child) {
                margin-right: 50px;
            }

            &__heading {
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                transition: background-color 0.3s;
                text-transform: uppercase;
                color: black;
                font-family: "Orbitron", sans-serif;
                font-weight: 700;
                font-size: 16px;
                letter-spacing: 0.12em;
            }

            &__title {
                margin-right: 17px;
            }

            &__image {
                transform: rotate(0deg);
                transition: transform 0.5s;
            }
        }
    }

    &__play {
        position: absolute;
        right: -240px;
        background: #f5ff63;
        box-shadow: 0 12px 14px rgba(9, 51, 82, 0.22);
        border-radius: 10px;
        width: 200px;
        height: 44px;
        border: none;
        cursor: pointer;
        font-family: "Orbitron", sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        letter-spacing: 0.12em;
        text-transform: uppercase;

        &:disabled {
            opacity: 0.3;
            cursor: auto;
        }
    }
}

@media screen and (max-width: $desktopBreakPoint) {

    .field-controls-area {

        &__title {
            font-size: 28px;
        }
    }
}

@media screen and (max-width: $tabletBreakPoint) {

    .field-controls-area {
        width: 100%;
        margin: 1% 0;
        max-width: none;

        &__wrapper {
            width: 100%;
            max-width: unset;
        }

        &__title {
            font-size: 24px;
        }
    }
}

@media screen and (max-width: $phoneBreakPoint) {

    .field-controls-area {

        &__title {
            font-size: 24px;
        }
    }
}
