@import "@/index.scss";

.field-controls-area {
    padding: 5px;
    background: $highlightBackground;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;

    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 25%;
        max-width: 400px;
        margin: 0 0 0 auto;
    }

    .field-control-area__clubs {
        display: flex;
        flex-direction: column;
        border: 1px solid red;

        &-name {
            font-family: "BebasNeue", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 48px;
            line-height: 58px;
            display: flex;
            align-items: center;
            color: #fff;
        }

        .clubs {
            display: flex;
            flex-direction: row;
            width: 100%;
            overflow-x: scroll;

            .club {
                display: flex;

                &__name {
                    font-family: "BebasNeue", sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 29px;
                    color: #fff;
                }
            }
        }
    }

    &__play {
        width: 100%;
        background: linear-gradient(
            $fieldMainLinearGradientColor 100%,
            $feildSecondLinearGradientColor 100%
        );
        height: 33px;
        font-size: 16px;
        font-family: "BebasNeue", sans-serif;
        font-weight: 100;
        border: none;
        margin-bottom: 15px;
        cursor: pointer;
    }

    &__title {
        margin: 24px 0 24px 24px;
        font-family: "BebasNeue", sans-serif;
        font-size: 32px;
        text-transform: uppercase;
    }

    &.field-information-option &:first-child {
        border: 1px solid red;
    }
}

.field-control {

    &__heading {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }

    &__list {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }

    &:last-child {
        border: none;
    }
}

@media screen and (max-width: $desktopBreakPoint) {

    .field-controls-area {

        &__title {
            font-size: 28px;
        }
    }
}

@media screen and (max-width: $tabletBreakPoint) {

    .field-controls-area {
        width: 100%;
        margin: 1% 0;
        max-width: none;

        &__wrapper {
            width: 100%;
            max-width: unset;
        }

        &__title {
            font-size: 24px;
        }
    }
}

@media screen and (max-width: $phoneBreakPoint) {

    .field-controls-area {

        &__title {
            font-size: 24px;
        }
    }
}
