@import "@/index.scss";

.authors {
    background: radial-gradient(
        68.18% 167.63% at 50% 26.33%,
        #233d64 5.21%,
        #222439 51.56%,
        #181818 100%
    );
    overflow-x: hidden;
    margin: auto;

    &__wrapper {
        padding: 50px 0 110px 0;
        background: url("@static/images/authorsPage/background/player-background.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        overflow-x: hidden;
    }

    @media (max-width: $tabletBreakPoint) {

        &__wrapper {
            overflow-x: hidden;
            background-image: url("@static/images/authorsPage/tablet/background.png");
        }
    }
}
